# {{ ansible_managed }}

/*
Commands and services for 'axenita-stats' check from LinuxFabrik Monitoring Plugin:

With this plugin you can track some values of the Aexnita application.

Code at:
https://github.com/Linuxfabrik/monitoring-plugins/tree/main/check-plugins/axenita-stats
*/

object CheckCommand "_linuxfabrik_axenita_stats" {
    command = [ "{{ linuxfabrik_monitoring_plugins_dest_path }}/linuxfabrik/axenita-stats" ]

    arguments = {
        "--help" = {
            set_if = "$linuxfabrik_axenita_stats_help$"
            description = "show this help message and exit"
        }
        "--version" = {
            set_if = "$linuxfabrik_axenita_stats_version$"
            description = "show program's version number and exit"
        }
        "--always-ok" = {
            set_if = "$linuxfabrik_axenita_stats_always_ok$"
            description = "Always returns OK."
        }
        "--url" = {
            value = "$linuxfabrik_axenita_stats_url$"
            description = "Axenita API URL. Default:http://localhost:10000/achilles/ar"
        }
        "--test" = {
            value = "$linuxfabrik_axenita_stats_test$"
            description = "For unit tests. Needs 'path-to-stdout-file,path-to- stderr-file,expected-retc'."
        }
        "--timeout" = {
            value = "$linuxfabrik_axenita_stats_timeout$"
            description = "Network timeout in seconds. Default: 3 (seconds)"
        }
    }
}