# {{ ansible_managed }}

/*
Commands and services for 'borgbackup' check from LinuxFabrik Monitoring Plugin:

logfile.

Code at:
https://github.com/Linuxfabrik/monitoring-plugins/tree/main/check-plugins/borgbackup
*/

object CheckCommand "_linuxfabrik_borgbackup" {
    command = [ "sudo", "{{ linuxfabrik_monitoring_plugins_dest_path }}/borgbackup" ]

    arguments = {
        "--help" = {
            set_if = "$borgbackup_help$"
            description = "show this help message and exit"
        }
        "--version" = {
            set_if = "$borgbackup_version$"
            description = "show program's version number and exit"
        }
        "--critical" = {
            value = "$borgbackup_critical$"
            description = "Set the critical threshold for the time difference to the start of the last backup (in hours). Default: None"
        }
        "--warning" = {
            value = "$borgbackup_warning$"
            description = "Set the warning threshold for the time difference to the start of the last backup (in hours). Default: 24"
        }
    }
}