# {{ ansible_managed }}

/*
Commands and services for 'csv-values' check from LinuxFabrik Monitoring Plugin:

expression.

Code at:
https://github.com/Linuxfabrik/monitoring-plugins/tree/main/check-plugins/csv-values
*/

object CheckCommand "_linuxfabrik_csv_values" {
    command = [ "{{ linuxfabrik_monitoring_plugins_dest_path }}/linuxfabrik/csv-values" ]

    arguments = {
        "--help" = {
            set_if = "$linuxfabrik_csv_values_help$"
            description = "show this help message and exit"
        }
        "--version" = {
            set_if = "$linuxfabrik_csv_values_version$"
            description = "show program's version number and exit"
        }
        "--always-ok" = {
            set_if = "$linuxfabrik_csv_values_always_ok$"
            description = "Always returns OK."
        }
        "--chunksize" = {
            value = "$linuxfabrik_csv_values_chunksize$"
            description = "Breaks up the transfer of data from the csv to the SQLite database in chunks as to not run out of memory. Default: 1000"
        }
        "--columns-query" = {
            value = "$linuxfabrik_csv_values_columns_query$"
            description = "Describe the columns and their datatypes using an sql statement. Example: `'col1 INTEGER PRIMARY KEY, col2 TEXT NOT NULL, col3 TEXT NOT NULL UNIQUE'`"
        }
        "--critical" = {
            value = "$linuxfabrik_csv_values_critical$"
            description = "Set the CRIT threshold. Supports ranges. Default: 'None'"
        }
        "--critical-query" = {
            value = "$linuxfabrik_csv_values_critical_query$"
            description = "`SELECT` statement. If its result contains more than one column, the number of rows is checked against `--critical`, otherwise the single value is used. Default: 'None'"
        }
        "--delimiter" = {
            value = "$linuxfabrik_csv_values_delimiter$"
            description = "CSV delimiter. Default: `','`"
        }
        "--filename" = {
            value = "$linuxfabrik_csv_values_filename$"
            description = "Path to CSV file. This is mutually exclusive with -u / --url."
        }
        "--insecure" = {
            set_if = "$linuxfabrik_csv_values_insecure$"
            description = "This option explicitly allows to perform 'insecure' SSL connections. Default: False"
        }
        "--newline" = {
            value = "$linuxfabrik_csv_values_newline$"
            description = "CSV newline. When reading input from the CSV, if newline is `None`, universal newlines mode is enabled. Lines in the input can end in `' '`, `' '`, or `' '`, and these are translated into `' '` before being returned to this plugin. If it is `''`, universal newlines mode is enabled, but line endings are returned to this plugin untranslated. If it has any of the other legal values, input lines are only terminated by the given string, and the line ending is returned to this plugin untranslated. Default: None"
        }
        "--no-proxy" = {
            set_if = "$linuxfabrik_csv_values_no_proxy$"
            description = "Do not use a proxy. Default: False"
        }
        "--password" = {
            value = "$linuxfabrik_csv_values_password$"
            description = "SMB or HTTP Basic Auth Password."
        }
        "--quotechar" = {
            value = "$linuxfabrik_csv_values_quotechar$"
            description = "CSV quotechar. Default: `'`"
        }
        "--skip-header" = {
            set_if = "$linuxfabrik_csv_values_skip_header$"
            description = "Treat the first row as header names. Default: True"
        }
        "--test" = {
            value = "$linuxfabrik_csv_values_test$"
            description = "For unit tests. Needs 'path-to-stdout-file,path-to- stderr-file,expected-retc'."
        }
        "--timeout" = {
            value = "$linuxfabrik_csv_values_timeout$"
            description = "Network timeout in seconds. Default: 3 (seconds)"
        }
        "--url" = {
            value = "$linuxfabrik_csv_values_url$"
            description = "Set the url of the CSV file, either starting with 'http://', 'https://' or 'smb://'. This is mutually exclusive with --filename."
        }
        "--username" = {
            value = "$linuxfabrik_csv_values_username$"
            description = "SMB or HTTP Basic Auth Username."
        }
        "--warning" = {
            value = "$linuxfabrik_csv_values_warning$"
            description = "Set the WARN threshold. Supports ranges. Default: 'None'"
        }
        "--warning-query" = {
            value = "$linuxfabrik_csv_values_warning_query$"
            description = "`SELECT` statement. If its result contains more than one column, the number of rows is checked against `--warning`, otherwise the single value is used. Default: 'None'"
        }
    }
}