# {{ ansible_managed }}

/*
Commands and services for 'disk-io' check from LinuxFabrik Monitoring Plugin:

Checks disk IO.

Code at:
https://github.com/Linuxfabrik/monitoring-plugins/tree/main/check-plugins/disk-io
*/

object CheckCommand "_linuxfabrik_disk_io" {
    command = [ "{{ linuxfabrik_monitoring_plugins_dest_path }}/disk-io" ]

    arguments = {
        "--help" = {
            set_if = "$disk_io_help$"
            description = "show this help message and exit"
        }
        "--version" = {
            set_if = "$disk_io_version$"
            description = "show program's version number and exit"
        }
        "--always-ok" = {
            set_if = "$disk_io_always_ok$"
            description = "Always returns OK."
        }
        "--count" = {
            value = "$disk_io_count$"
            description = "Number of times the value has to be above the given thresholds. Default: 5"
        }
        "--critical" = {
            value = "$disk_io_critical$"
            description = "Set the CRIT threshold for disk I/O read/write rate over the entire period as a percentage of the maximum disk I/O rate. Default: >= 90"
        }
        "--ignore" = {
            value = "$disk_io_ignore$"
            description = "Ignore some disks like 'sr0' or 'zram0' (repeating). Default: ['sr0', 'loop0', 'loop1', 'loop2', 'loop3', 'loop4', 'loop5', 'loop6', 'loop7', 'loop8', 'loop9', 'zram0']"
            repeat_key = true
        }
        "--warning" = {
            value = "$disk_io_warning$"
            description = "Set the CRIT threshold for disk I/O read/write rate over the entire period as a percentage of the maximum disk I/O rate. Default: >= 80"
        }
    }
}