/*
Commands and services for 'disk-smart' check from LinuxFabrik Monitoring Plugin:

the drive's SMART data to determine its health.

Code at:
https://github.com/Linuxfabrik/monitoring-plugins/tree/main/check-plugins/disk-smart
*/

object CheckCommand "_linuxfabrik_disk_smart" {
    command = [ "{{ linuxfabrik_monitoring_plugins_dest_path }}/disk-smart" ]

    arguments = {
        "--help" = {
            set_if = "$linuxfabrik_disk_smart_help$"
            description = "show this help message and exit"
        }
        "--version" = {
            set_if = "$linuxfabrik_disk_smart_version$"
            description = "show program's version number and exit"
        }
        "--always-ok" = {
            set_if = "$linuxfabrik_disk_smart_alwaysok$"
            description = "Always returns OK."
        }
        "--full" = {
            set_if = "$linuxfabrik_disk_smart_full$"
            description = "If set, also warn on any assumptions (in GSmartControl stated as 'notice' messages), otherwise just warn on 'real' SMART issues. Default: check warnings and alerts only."
        }
        "--ignore" = {
            value = "$linuxfabrik_disk_smart_ignore$"
            description = "A comma-separated list of disks which should be ignored, in the format 'sda,sdb'.Default: []"
        }
        "--test" = {
            value = "$linuxfabrik_disk_smart_test$"
            description = "For unit tests. Needs 'path-to-stdout-file,path-to-stderr- file,expected-retc'."
        }
    }
}