# {{ ansible_managed }}

/*
Commands and services for 'dmesg' check from LinuxFabrik Monitoring Plugin:

to clear them), use `dmesg --clear` to clear the Kernel Ring Buffer Messages.

Code at:
https://github.com/Linuxfabrik/monitoring-plugins/tree/main/check-plugins/dmesg
*/

object CheckCommand "_linuxfabrik_dmesg" {
    command = [ "{{ linuxfabrik_monitoring_plugins_dest_path }}/linuxfabrik/dmesg" ]

    arguments = {
        "--help" = {
            set_if = "$linuxfabrik_dmesg_help$"
            description = "show this help message and exit"
        }
        "--version" = {
            set_if = "$linuxfabrik_dmesg_version$"
            description = "show program's version number and exit"
        }
        "--always-ok" = {
            set_if = "$linuxfabrik_dmesg_always_ok$"
            description = "Always returns OK."
        }
        "--ignore" = {
            value = "$linuxfabrik_dmesg_ignore$"
            description = "Ignore a kernel message (case-sensitive, repeating). Default: [' Asking for cache data failed', ' Assuming drive cache: write through', ' brcmfmac: brcmf_fw_alloc_request: using brcm/brcmfmac43455-sdio for chip BCM4345/6', ' brcmfmac: brcmf_c_preinit_dcmds: Firmware: BCM4345/6', ' CIFS VFS: Free previous auth_key.response = ', ' cpufreq: __cpufreq_add_dev: ->get() failed', ' ERST: Failed to get Error Log Address Range.', ' i8042: No controller found', ' Ignoring unsafe software power cap!', ' ioctl error in smb2_get_dfs_refer rc=-5', ' kvm_set_msr_common: MSR_IA32_DEBUGCTLMSR ', ' No Caching mode page found', ' SMBus Host Controller not enabled!', ' tsc: Fast TSC calibration failed', ' unhandled rdmsr: ', ' unhandled wrmsr: ', ' vcpu0 disabled perfctr wrmsr']"
            repeat_key = true
        }
        "--severity" = {
            value = "$linuxfabrik_dmesg_severity$"
            description = "Severity for alerting. One of 'warn' or 'crit'. Default: crit"
        }
        "--test" = {
            value = "$linuxfabrik_dmesg_test$"
            description = "For unit tests. Needs 'path-to-stdout-file,path-to- stderr-file,expected-retc'."
        }
    }
}