# {{ ansible_managed }}

/*
Commands and services for 'feed' check from LinuxFabrik Monitoring Plugin:

over.

Code at:
https://github.com/Linuxfabrik/monitoring-plugins/tree/main/check-plugins/feed
*/

object CheckCommand "_linuxfabrik_feed" {
    command = [ "{{ linuxfabrik_monitoring_plugins_dest_path }}/linuxfabrik/feed" ]

    arguments = {
        "--help" = {
            set_if = "$linuxfabrik_feed_help$"
            description = "show this help message and exit"
        }
        "--version" = {
            set_if = "$linuxfabrik_feed_version$"
            description = "show program's version number and exit"
        }
        "--always-ok" = {
            set_if = "$linuxfabrik_feed_always_ok$"
            description = "Always returns OK."
        }
        "--icinga-service-name" = {
            value = "$linuxfabrik_feed_icinga_service_name$"
            description = "Unique name of the service using this check within Icinga. Take it from the `__name` service attribute, for example `icinga-server!my-service-name`."
        }
        "--icinga-password" = {
            value = "$linuxfabrik_feed_icinga_password$"
            description = "Icinga API password."
        }
        "--icinga-url" = {
            value = "$linuxfabrik_feed_icinga_url$"
            description = "Icinga API URL, for example https://icinga-server:5665"
        }
        "--icinga-username" = {
            value = "$linuxfabrik_feed_icinga_username$"
            description = "Icinga API username."
        }
        "--insecure" = {
            set_if = "$linuxfabrik_feed_insecure$"
            description = "This option explicitly allows to perform 'insecure' SSL connections. Default: False"
        }
        "--icinga-callback" = {
            set_if = "$linuxfabrik_feed_icinga_callback$"
            description = "Get the service acknowledgement from Icinga. Default:False"
        }
        "--latest" = {
            set_if = "$linuxfabrik_feed_latest$"
            description = "Return the newest/latest feed item (may be in the future)."
        }
        "--no-proxy" = {
            set_if = "$linuxfabrik_feed_no_proxy$"
            description = "Do not use a proxy. Default: False"
        }
        "--no-summary" = {
            set_if = "$linuxfabrik_feed_no_summary$"
            description = "Do not show the feed item summary. Default: False"
        }
        "--timeout" = {
            value = "$linuxfabrik_feed_timeout$"
            description = "Network timeout in seconds. Default: 5 (seconds)"
        }
        "--url" = {
            value = "$linuxfabrik_feed_url$"
            description = "The Feed URL. Default:https://www.heise.de/security/rss/alert-news-atom.xml"
        }
        "--warning" = {
            value = "$linuxfabrik_feed_warning$"
            description = "How long should this check return a warning on new entries? Default: 4320 (minutes)"
        }
    }
}