/*
Commands and services for 'file-descriptors' check from LinuxFabrik Monitoring Plugin:

Checks the number of allocated file handles in percent.

Code at:
https://github.com/Linuxfabrik/monitoring-plugins/tree/main/check-plugins/file-descriptors
*/

object CheckCommand "_linuxfabrik_file_descriptors" {
    command = [ "{{ linuxfabrik_monitoring_plugins_dest_path }}/file-descriptors" ]

    arguments = {
        "--help" = {
            set_if = "$linuxfabrik_file_descriptors_help$"
            description = "show this help message and exit"
        }
        "--version" = {
            set_if = "$linuxfabrik_file_descriptors_version$"
            description = "show program's version number and exit"
        }
        "--always-ok" = {
            set_if = "$linuxfabrik_file_descriptors_alwaysok$"
            description = "Always returns OK."
        }
        "--critical" = {
            value = "$linuxfabrik_file_descriptors_critical$"
            description = "Set the critical threshold for file descriptor usage (in percent). Default: 95"
        }
        "--warning" = {
            value = "$linuxfabrik_file_descriptors_warning$"
            description = "Set the warning threshold for file descriptor usage (in percent). Default: 90"
        }
    }
}