/*
Commands and services for 'file-age' check from LinuxFabrik Monitoring Plugin:

Checks the time of last data modification for a file or directory, in seconds.

Code at:
https://github.com/Linuxfabrik/monitoring-plugins/tree/main/check-plugins/file-age
*/

object CheckCommand "_linuxfabrik_file_age" {
    command = [ "{{ linuxfabrik_monitoring_plugins_dest_path }}/file-age" ]

    arguments = {
        "--help" = {
            set_if = "$linuxfabrik_file_age_help$"
            description = "show this help message and exit"
        }
        "--version" = {
            set_if = "$linuxfabrik_file_age_version$"
            description = "show program's version number and exit"
        }
        "--always-ok" = {
            set_if = "$linuxfabrik_file_age_alwaysok$"
            description = "Always returns OK."
        }
        "--critical" = {
            value = "$linuxfabrik_file_age_critical$"
            description = "Set the critical age threshold in seconds. Supports ranges. Default: >= 31536000s (365d)"
        }
        "--critical-count" = {
            value = "$linuxfabrik_file_age_criticalcount$"
            description = "Set the critical threshold for the number of critical matches found. Supports ranges. Default: > 0"
        }
        "--filename" = {
            value = "$linuxfabrik_file_age_filename$"
            description = "File (or directory) name to check. Supports glob in accordance with https://docs.python.org/2.7/library/glob.html. Beware of using recursive globs. This is mutually exclusive with -u / --url."
        }
        "--only-dirs" = {
            set_if = "$linuxfabrik_file_age_onlydirs$"
            description = "Only consider directories."
        }
        "--only-files" = {
            set_if = "$linuxfabrik_file_age_onlyfiles$"
            description = "Only consider files."
        }
        "--password" = {
            value = "$linuxfabrik_file_age_password$"
            description = "SMB: Password."
        }
        "--pattern" = {
            value = "$linuxfabrik_file_age_pattern$"
            description = "SMB: The search string to match against the names of SMB directories or files. This pattern can use '*' as a wildcard for multiple chars and '?' as a wildcard for a single char. Does not support regex patterns. Default: *."
        }
        "--perfdata-mode" = {
            value = "$linuxfabrik_file_age_perfdatamode$"
            description = "Set the performance data aggregation mode. Default: None."
        }
        "--timeout" = {
            value = "$linuxfabrik_file_age_timeout$"
            description = "Network timeout in seconds. Default: 3 (seconds)"
        }
        "--url" = {
            value = "$linuxfabrik_file_age_url$"
            description = "SMB: Set the url of the file (or directory) to check, starting with 'smb://'. This is mutually exclusive with --filename."
        }
        "--username" = {
            value = "$linuxfabrik_file_age_username$"
            description = "SMB: Username."
        }
        "--warning" = {
            value = "$linuxfabrik_file_age_warning$"
            description = "Set the warning age threshold in seconds. Supports ranges. Default: >= 2592000s (30d)"
        }
        "--warning-count" = {
            value = "$linuxfabrik_file_age_warningcount$"
            description = "Set the warning threshold for the number of critical matches found. Supports ranges. Default: > 0"
        }
    }
}