# {{ ansible_managed }}

/*
Commands and services for 'fortios-ha-stats' check from LinuxFabrik Monitoring Plugin:

authentication, which is stated as "legacy".

Code at:
https://github.com/Linuxfabrik/monitoring-plugins/tree/main/check-plugins/fortios-ha-stats
*/

object CheckCommand "_linuxfabrik_fortios_ha_stats" {
    command = [ "{{ linuxfabrik_monitoring_plugins_dest_path }}/linuxfabrik/fortios-ha-stats" ]

    arguments = {
        "--help" = {
            set_if = "$linuxfabrik_fortios_ha_stats_help$"
            description = "show this help message and exit"
        }
        "--version" = {
            set_if = "$linuxfabrik_fortios_ha_stats_version$"
            description = "show program's version number and exit"
        }
        "--always-ok" = {
            set_if = "$linuxfabrik_fortios_ha_stats_always_ok$"
            description = "Always returns OK."
        }
        "--count" = {
            value = "$linuxfabrik_fortios_ha_stats_count$"
            description = "Number of expected cluster members. Default: 2"
        }
        "--hostname" = {
            value = "$linuxfabrik_fortios_ha_stats_hostname$"
            description = "FortiOS-based Appliance address, optional including port ('192.168.1.1:443')."
        }
        "--insecure" = {
            set_if = "$linuxfabrik_fortios_ha_stats_insecure$"
            description = "This option explicitly allows to perform 'insecure' SSL connections. Default: False"
        }
        "--no-proxy" = {
            set_if = "$linuxfabrik_fortios_ha_stats_no_proxy$"
            description = "Do not use a proxy. Default: False"
        }
        "--password" = {
            value = "$linuxfabrik_fortios_ha_stats_password$"
            description = "FortiOS REST API Single Access Token."
        }
        "--timeout" = {
            value = "$linuxfabrik_fortios_ha_stats_timeout$"
            description = "Network timeout in seconds. Default: 3 (seconds)"
        }
    }
}