/*
Commands and services for 'fortios-version' check from LinuxFabrik Monitoring Plugin:

[--no-proxy] --password PASSWORD [--timeout TIMEOUT]

Code at:
https://github.com/Linuxfabrik/monitoring-plugins/tree/main/check-plugins/fortios-version
*/

object CheckCommand "_linuxfabrik_fortios_version" {
    command = [ "{{ linuxfabrik_monitoring_plugins_dest_path }}/fortios-version" ]

    arguments = {
        "--help" = {
            set_if = "$linuxfabrik_fortios_version_help$"
            description = "show this help message and exit"
        }
        "--version" = {
            set_if = "$linuxfabrik_fortios_version_version$"
            description = "show program's version number and exit"
        }
        "--always-ok" = {
            set_if = "$linuxfabrik_fortios_version_alwaysok$"
            description = "Always returns OK."
        }
        "--hostname" = {
            value = "$linuxfabrik_fortios_version_hostname$"
            description = "FortiOS-based Appliance address, optional including port ('192.168.1.1:443')."
        }
        "--insecure" = {
            set_if = "$linuxfabrik_fortios_version_insecure$"
            description = "This option explicitly allows to perform 'insecure' SSL connections. Default: False"
        }
        "--no-proxy" = {
            set_if = "$linuxfabrik_fortios_version_noproxy$"
            description = "Do not use a proxy. Default: False"
        }
        "--password" = {
            value = "$linuxfabrik_fortios_version_password$"
            description = "FortiOS REST API Single Access Token."
        }
        "--timeout" = {
            value = "$linuxfabrik_fortios_version_timeout$"
            description = "Network timeout in seconds. Default: 3 (seconds)"
        }
    }
}