# {{ ansible_managed }}

/*
Commands and services for 'fs-xfs-stats' check from LinuxFabrik Monitoring Plugin:

performance.

Code at:
https://github.com/Linuxfabrik/monitoring-plugins/tree/main/check-plugins/fs-xfs-stats
*/

object CheckCommand "_linuxfabrik_fs_xfs_stats" {
    command = [ "{{ linuxfabrik_monitoring_plugins_dest_path }}/fs-xfs-stats" ]

    arguments = {
        "--help" = {
            set_if = "$fs_xfs_stats_help$"
            description = "show this help message and exit"
        }
        "--version" = {
            set_if = "$fs_xfs_stats_version$"
            description = "show program's version number and exit"
        }
    }
}