# {{ ansible_managed }}

/*
Commands and services for 'getent' check from LinuxFabrik Monitoring Plugin:

errors or no match.

Code at:
https://github.com/Linuxfabrik/monitoring-plugins/tree/main/check-plugins/getent
*/

object CheckCommand "_linuxfabrik_getent" {
    command = [ "{{ linuxfabrik_monitoring_plugins_dest_path }}/linuxfabrik/getent" ]

    arguments = {
        "--help" = {
            set_if = "$linuxfabrik_getent_help$"
            description = "show this help message and exit"
        }
        "--version" = {
            set_if = "$linuxfabrik_getent_version$"
            description = "show program's version number and exit"
        }
        "--database" = {
            value = "$linuxfabrik_getent_database$"
            description = "May be any of those supported by 'getent', for example 'group', 'hosts' etc. Default: group"
        }
        "--key" = {
            value = "$linuxfabrik_getent_key$"
            description = "If one or more key arguments are provided, then only the entries that match the supplied keys will be fetched. Otherwise, if no key is provided, all entries will be fetched (unless the database does not support enumeration). (repeating)"
            repeat_key = true
        }
    }
}