# {{ ansible_managed }}

/*
Commands and services for 'haproxy-status' check from LinuxFabrik Monitoring Plugin:

HAProxy server, current request rates, response times, and more.

Code at:
https://github.com/Linuxfabrik/monitoring-plugins/tree/main/check-plugins/haproxy-status
*/

object CheckCommand "_linuxfabrik_haproxy_status" {
    command = [ "{{ linuxfabrik_monitoring_plugins_dest_path }}/linuxfabrik/haproxy-status" ]

    arguments = {
        "--help" = {
            set_if = "$linuxfabrik_haproxy_status_help$"
            description = "show this help message and exit"
        }
        "--version" = {
            set_if = "$linuxfabrik_haproxy_status_version$"
            description = "show program's version number and exit"
        }
        "--always-ok" = {
            set_if = "$linuxfabrik_haproxy_status_always_ok$"
            description = "Always returns OK."
        }
        "--critical" = {
            value = "$linuxfabrik_haproxy_status_critical$"
            description = "Set the CRIT threshold as a percentage. Default: >= 95"
        }
        "--lengthy" = {
            set_if = "$linuxfabrik_haproxy_status_lengthy$"
            description = "Extended reporting."
        }
        "--password" = {
            value = "$linuxfabrik_haproxy_status_password$"
            description = "HAProxy Stats Auth password."
        }
        "--test" = {
            value = "$linuxfabrik_haproxy_status_test$"
            description = "For unit tests. Needs 'path-to-stdout-file,path-to- stderr-file,expected-retc'."
        }
        "--timeout" = {
            value = "$linuxfabrik_haproxy_status_timeout$"
            description = "Network timeout in seconds. Default: 3 (seconds)"
        }
        "--url" = {
            value = "$linuxfabrik_haproxy_status_url$"
            description = "HAProxy Stats URI. Default: http://localhost/server-status"
        }
        "--username" = {
            value = "$linuxfabrik_haproxy_status_username$"
            description = "HAProxy Stats Auth username. Default: haproxy-stats"
        }
        "--warning" = {
            value = "$linuxfabrik_haproxy_status_warning$"
            description = "Set the WARN threshold as a percentage. Default: >= 80"
        }
    }
}