# {{ ansible_managed }}

/*
Commands and services for 'huawei-dorado-system' check from LinuxFabrik Monitoring Plugin:

storage system via the REST Interface, using the ``/system/`` endpoint.

Code at:
https://github.com/Linuxfabrik/monitoring-plugins/tree/main/check-plugins/huawei-dorado-system
*/

object CheckCommand "_linuxfabrik_huawei_dorado_system" {
    command = [ "{{ linuxfabrik_monitoring_plugins_dest_path }}/huawei-dorado-system" ]

    arguments = {
        "--help" = {
            set_if = "$huawei_dorado_system_help$"
            description = "show this help message and exit"
        }
        "--version" = {
            set_if = "$huawei_dorado_system_version$"
            description = "show program's version number and exit"
        }
        "--always-ok" = {
            set_if = "$huawei_dorado_system_always_ok$"
            description = "Always returns OK."
        }
        "--cache-expire" = {
            value = "$huawei_dorado_system_cache_expire$"
            description = "The amount of time after which the credential cache expires, in minutes. Default: 15"
        }
        "--critical" = {
            value = "$huawei_dorado_system_critical$"
            description = "Set the CRIT threshold as a percentage. Default: >= 95"
        }
        "--device-id" = {
            value = "$huawei_dorado_system_device_id$"
            description = "Huawei OceanStor Dorado API Device ID."
        }
        "--no-proxy" = {
            set_if = "$huawei_dorado_system_no_proxy$"
            description = "Do not use a proxy. Default: False"
        }
        "--password" = {
            value = "$huawei_dorado_system_password$"
            description = "Huawei OceanStor Dorado API Password."
        }
        "--scope" = {
            value = "$huawei_dorado_system_scope$"
            description = "Huawei OceanStor Dorado API Scope."
        }
        "--test" = {
            value = "$huawei_dorado_system_test$"
            description = "For unit tests. Needs 'path-to-stdout-file,path-to- stderr-file,expected-retc'."
        }
        "--timeout" = {
            value = "$huawei_dorado_system_timeout$"
            description = "Network timeout in seconds. Default: 3 (seconds)"
        }
        "--url" = {
            value = "$huawei_dorado_system_url$"
            description = "Huawei OceanStor Dorado API URL."
        }
        "--username" = {
            value = "$huawei_dorado_system_username$"
            description = "Huawei OceanStor Dorado API Username."
        }
        "--warning" = {
            value = "$huawei_dorado_system_warning$"
            description = "Set the WARN threshold as a percentage. Default: >= 90"
        }
    }
}