/*
Commands and services for 'huawei-dorado-fan' check from LinuxFabrik Monitoring Plugin:

system via the REST Interface, using the ``/fan`` endpoint.

Code at:
https://github.com/Linuxfabrik/monitoring-plugins/tree/main/check-plugins/huawei-dorado-fan
*/

object CheckCommand "_linuxfabrik_huawei_dorado_fan" {
    command = [ "{{ linuxfabrik_monitoring_plugins_dest_path }}/huawei-dorado-fan" ]

    arguments = {
        "--help" = {
            set_if = "$linuxfabrik_huawei_dorado_fan_help$"
            description = "show this help message and exit"
        }
        "--version" = {
            set_if = "$linuxfabrik_huawei_dorado_fan_version$"
            description = "show program's version number and exit"
        }
        "--always-ok" = {
            set_if = "$linuxfabrik_huawei_dorado_fan_alwaysok$"
            description = "Always returns OK."
        }
        "--cache-expire" = {
            value = "$linuxfabrik_huawei_dorado_fan_cacheexpire$"
            description = "The amount of time after which the credential cache expires, in minutes. Default: 15"
        }
        "--device-id" = {
            value = "$linuxfabrik_huawei_dorado_fan_deviceid$"
            description = "Huawei OceanStor Dorado API Device ID."
        }
        "--no-proxy" = {
            set_if = "$linuxfabrik_huawei_dorado_fan_noproxy$"
            description = "Do not use a proxy. Default: False"
        }
        "--password" = {
            value = "$linuxfabrik_huawei_dorado_fan_password$"
            description = "Huawei OceanStor Dorado API Password."
        }
        "--scope" = {
            value = "$linuxfabrik_huawei_dorado_fan_scope$"
            description = "Huawei OceanStor Dorado API Scope."
        }
        "--test" = {
            value = "$linuxfabrik_huawei_dorado_fan_test$"
            description = "For unit tests. Needs 'path-to-stdout-file,path-to- stderr-file,expected-retc'."
        }
        "--timeout" = {
            value = "$linuxfabrik_huawei_dorado_fan_timeout$"
            description = "Network timeout in seconds. Default: 3 (seconds)"
        }
        "--url" = {
            value = "$linuxfabrik_huawei_dorado_fan_url$"
            description = "Huawei OceanStor Dorado API URL."
        }
        "--username" = {
            value = "$linuxfabrik_huawei_dorado_fan_username$"
            description = "Huawei OceanStor Dorado API Username."
        }
    }
}