# {{ ansible_managed }}

/*
Commands and services for 'huawei-dorado-host' check from LinuxFabrik Monitoring Plugin:

Dorado storage system via the REST Interface, using the ``/host`` endpoint.

Code at:
https://github.com/Linuxfabrik/monitoring-plugins/tree/main/check-plugins/huawei-dorado-host
*/

object CheckCommand "_linuxfabrik_huawei_dorado_host" {
    command = [ "{{ linuxfabrik_monitoring_plugins_dest_path }}/huawei-dorado-host" ]

    arguments = {
        "--help" = {
            set_if = "$huawei_dorado_host_help$"
            description = "show this help message and exit"
        }
        "--version" = {
            set_if = "$huawei_dorado_host_version$"
            description = "show program's version number and exit"
        }
        "--always-ok" = {
            set_if = "$huawei_dorado_host_always_ok$"
            description = "Always returns OK."
        }
        "--cache-expire" = {
            value = "$huawei_dorado_host_cache_expire$"
            description = "The amount of time after which the credential cache expires, in minutes. Default: 15"
        }
        "--device-id" = {
            value = "$huawei_dorado_host_device_id$"
            description = "Huawei OceanStor Dorado API Device ID."
        }
        "--no-proxy" = {
            set_if = "$huawei_dorado_host_no_proxy$"
            description = "Do not use a proxy. Default: False"
        }
        "--password" = {
            value = "$huawei_dorado_host_password$"
            description = "Huawei OceanStor Dorado API Password."
        }
        "--scope" = {
            value = "$huawei_dorado_host_scope$"
            description = "Huawei OceanStor Dorado API Scope."
        }
        "--test" = {
            value = "$huawei_dorado_host_test$"
            description = "For unit tests. Needs 'path-to-stdout-file,path-to- stderr-file,expected-retc'."
        }
        "--timeout" = {
            value = "$huawei_dorado_host_timeout$"
            description = "Network timeout in seconds. Default: 3 (seconds)"
        }
        "--url" = {
            value = "$huawei_dorado_host_url$"
            description = "Huawei OceanStor Dorado API URL."
        }
        "--username" = {
            value = "$huawei_dorado_host_username$"
            description = "Huawei OceanStor Dorado API Username."
        }
    }
}