/*
Commands and services for 'infomaniak-events' check from LinuxFabrik Monitoring Plugin:

Informs you about open events at Infomaniak.

Code at:
https://github.com/Linuxfabrik/monitoring-plugins/tree/main/check-plugins/infomaniak-events
*/

object CheckCommand "_linuxfabrik_infomaniak_events" {
    command = [ "{{ linuxfabrik_monitoring_plugins_dest_path }}/infomaniak-events" ]

    arguments = {
        "--help" = {
            set_if = "$linuxfabrik_infomaniak_events_help$"
            description = "show this help message and exit"
        }
        "--version" = {
            set_if = "$linuxfabrik_infomaniak_events_version$"
            description = "show program's version number and exit"
        }
        "--always-ok" = {
            set_if = "$linuxfabrik_infomaniak_events_alwaysok$"
            description = "Always returns OK."
        }
        "--token" = {
            value = "$linuxfabrik_infomaniak_events_token$"
            description = "Infomaniak API token"
        }
        "--test" = {
            value = "$linuxfabrik_infomaniak_events_test$"
            description = "For unit tests. Needs 'path-to-stdout-file,path-to-stderr- file,expected-retc'."
        }
    }
}