/*
Commands and services for 'ipmi-sel' check from LinuxFabrik Monitoring Plugin:

Use "ipmitool sel clear" to clear the IPMI System Event Log (SEL).

Code at:
https://github.com/Linuxfabrik/monitoring-plugins/tree/main/check-plugins/ipmi-sel
*/

object CheckCommand "_linuxfabrik_ipmi_sel" {
    command = [ "{{ linuxfabrik_monitoring_plugins_dest_path }}/ipmi-sel" ]

    arguments = {
        "--help" = {
            set_if = "$linuxfabrik_ipmi_sel_help$"
            description = "show this help message and exit"
        }
        "--version" = {
            set_if = "$linuxfabrik_ipmi_sel_version$"
            description = "show program's version number and exit"
        }
        "--authtype" = {
            value = "$linuxfabrik_ipmi_sel_authtype$"
            description = "2,MD5,OEM} Specify an authentication type to use during IPMIv1.5 lan session activation. Supported types are NONE, PASSWORD, MD2, MD5, or OEM."
        }
        "--hostname" = {
            value = "$linuxfabrik_ipmi_sel_hostname$"
            description = "Remote server address, can be IP address or hostname. This option is required for lan and lanplus interfaces."
        }
        "--interface" = {
            value = "$linuxfabrik_ipmi_sel_interface$"
            description = "Selects IPMI interface to use. Supported types are 'lan' (= IPMI v1.5) or 'lanplus' (= IPMI v2.0)."
        }
        "--password" = {
            value = "$linuxfabrik_ipmi_sel_password$"
            description = "Remote server password."
        }
        "--port" = {
            value = "$linuxfabrik_ipmi_sel_port$"
            description = "Remote server UDP port to connect to. Default is 623."
        }
        "--privlevel" = {
            value = "$linuxfabrik_ipmi_sel_privlevel$"
            description = "Force session privilege level. Can be CALLBACK, USER, OPERATOR, ADMINISTRATOR. Default is USER."
        }
        "--username" = {
            value = "$linuxfabrik_ipmi_sel_username$"
            description = "Remote server username, default is NULL user."
        }
    }
}