/*
Commands and services for 'kemp-services' check from LinuxFabrik Monitoring Plugin:

Warns if virtual services provided by a kemp loadbalancer appliance are down.

Code at:
https://github.com/Linuxfabrik/monitoring-plugins/tree/main/check-plugins/kemp-services
*/

object CheckCommand "_linuxfabrik_kemp_services" {
    command = [ "{{ linuxfabrik_monitoring_plugins_dest_path }}/kemp-services" ]

    arguments = {
        "--help" = {
            set_if = "$linuxfabrik_kemp_services_help$"
            description = "show this help message and exit"
        }
        "--version" = {
            set_if = "$linuxfabrik_kemp_services_version$"
            description = "show program's version number and exit"
        }
        "--always-ok" = {
            set_if = "$linuxfabrik_kemp_services_alwaysok$"
            description = "Always returns OK."
        }
        "--filter" = {
            value = "$linuxfabrik_kemp_services_filter$"
            description = "Only check services that contain this string in their NickName."
        }
        "--hostname" = {
            value = "$linuxfabrik_kemp_services_hostname$"
            description = "KEMP Appliance address."
        }
        "--insecure" = {
            set_if = "$linuxfabrik_kemp_services_insecure$"
            description = "This option explicitly allows to perform 'insecure' SSL connections. Default: False"
        }
        "--no-proxy" = {
            set_if = "$linuxfabrik_kemp_services_noproxy$"
            description = "Do not use a proxy. Default: False"
        }
        "--password" = {
            value = "$linuxfabrik_kemp_services_password$"
            description = "API Password."
        }
        "--port" = {
            value = "$linuxfabrik_kemp_services_port$"
            description = "KEMP Appliance port."
        }
        "--severity" = {
            value = "$linuxfabrik_kemp_services_severity$"
            description = "Severity for alerting. Default: warn"
        }
        "--test" = {
            value = "$linuxfabrik_kemp_services_test$"
            description = "For unit tests. Needs 'path-to-stdout-file,path-to- stderr-file,expected-retc'."
        }
        "--timeout" = {
            value = "$linuxfabrik_kemp_services_timeout$"
            description = "Network timeout in seconds. Default: 3 (seconds)"
        }
        "--username" = {
            value = "$linuxfabrik_kemp_services_username$"
            description = "API Username."
        }
    }
}