# {{ ansible_managed }}

/*
Commands and services for 'kvm-vm' check from LinuxFabrik Monitoring Plugin:

Check VMs on a KVM host using "virsh list".

Code at:
https://github.com/Linuxfabrik/monitoring-plugins/tree/main/check-plugins/kvm-vm
*/

object CheckCommand "_linuxfabrik_kvm_vm" {
    command = [ "sudo", "{{ linuxfabrik_monitoring_plugins_dest_path }}/kvm-vm" ]

    arguments = {
        "--help" = {
            set_if = "$kvm_vm_help$"
            description = "show this help message and exit"
        }
        "--version" = {
            set_if = "$kvm_vm_version$"
            description = "show program's version number and exit"
        }
        "--always-ok" = {
            set_if = "$kvm_vm_always_ok$"
            description = "Always returns OK."
        }
    }
}