/*
Commands and services for 'librenms-version' check from LinuxFabrik Monitoring Plugin:

This check displays LibreNMS instance information, using its API.

Code at:
https://github.com/Linuxfabrik/monitoring-plugins/tree/main/check-plugins/librenms-version
*/

object CheckCommand "_linuxfabrik_librenms_version" {
    command = [ "{{ linuxfabrik_monitoring_plugins_dest_path }}/librenms-version" ]

    arguments = {
        "--help" = {
            set_if = "$linuxfabrik_librenms_version_help$"
            description = "show this help message and exit"
        }
        "--version" = {
            set_if = "$linuxfabrik_librenms_version_version$"
            description = "show program's version number and exit"
        }
        "--insecure" = {
            set_if = "$linuxfabrik_librenms_version_insecure$"
            description = "This option explicitly allows to perform 'insecure' SSL connections. Default: False"
        }
        "--no-proxy" = {
            set_if = "$linuxfabrik_librenms_version_noproxy$"
            description = "Do not use a proxy. Default: False"
        }
        "--timeout" = {
            value = "$linuxfabrik_librenms_version_timeout$"
            description = "Network timeout in seconds. Default: 3 (seconds)"
        }
        "--token" = {
            value = "$linuxfabrik_librenms_version_token$"
            description = "LibreNMS API token"
        }
        "--url" = {
            value = "$linuxfabrik_librenms_version_url$"
            description = "LibreNMS API URL. Default: http://localhost"
        }
    }
}