# {{ ansible_managed }}

/*
Commands and services for 'load' check from LinuxFabrik Monitoring Plugin:

Return the average system load per cpu over the last 1, 5 and 15 minutes.

Code at:
https://github.com/Linuxfabrik/monitoring-plugins/tree/main/check-plugins/load
*/

object CheckCommand "_linuxfabrik_load" {
    command = [ "{{ linuxfabrik_monitoring_plugins_dest_path }}/linuxfabrik/load" ]

    arguments = {
        "--help" = {
            set_if = "$linuxfabrik_load_help$"
            description = "show this help message and exit"
        }
        "--version" = {
            set_if = "$linuxfabrik_load_version$"
            description = "show program's version number and exit"
        }
        "--always-ok" = {
            set_if = "$linuxfabrik_load_always_ok$"
            description = "Always returns OK."
        }
        "--critical" = {
            value = "$linuxfabrik_load_critical$"
            description = "Set the critical threshold for load15 per cpu. Default: 5.0"
        }
        "--warning" = {
            value = "$linuxfabrik_load_warning$"
            description = "Set the warning threshold for load15 per cpu. Default: 1.15"
        }
    }
}