# {{ ansible_managed }}

/*
Commands and services for 'mailq' check from LinuxFabrik Monitoring Plugin:

Checks the mail queue.

Code at:
https://github.com/Linuxfabrik/monitoring-plugins/tree/main/check-plugins/mailq
*/

object CheckCommand "_linuxfabrik_mailq" {
    command = [ "{{ linuxfabrik_monitoring_plugins_dest_path }}/linuxfabrik/mailq" ]

    arguments = {
        "--help" = {
            set_if = "$linuxfabrik_mailq_help$"
            description = "show this help message and exit"
        }
        "--version" = {
            set_if = "$linuxfabrik_mailq_version$"
            description = "show program's version number and exit"
        }
        "--always-ok" = {
            set_if = "$linuxfabrik_mailq_always_ok$"
            description = "Always returns OK."
        }
        "--critical" = {
            value = "$linuxfabrik_mailq_critical$"
            description = "Set the critical threshold for mails in the queue. Default: 250"
        }
        "--test" = {
            value = "$linuxfabrik_mailq_test$"
            description = "For unit tests. Needs 'path-to-stdout-file,path-to- stderr-file,expected-retc'."
        }
        "--warning" = {
            value = "$linuxfabrik_mailq_warning$"
            description = "Set the warning threshold for mails in the queue. Default: 2"
        }
    }
}