# {{ ansible_managed }}

/*
Commands and services for 'matomo-version' check from LinuxFabrik Monitoring Plugin:

This plugin lets you track if server updates are available.

Code at:
https://github.com/Linuxfabrik/monitoring-plugins/tree/main/check-plugins/matomo-version
*/

object CheckCommand "_linuxfabrik_matomo_version" {
    command = [ "{{ linuxfabrik_monitoring_plugins_dest_path }}/linuxfabrik/matomo-version" ]

    arguments = {
        "--help" = {
            set_if = "$linuxfabrik_matomo_version_help$"
            description = "show this help message and exit"
        }
        "--version" = {
            set_if = "$linuxfabrik_matomo_version_version$"
            description = "show program's version number and exit"
        }
        "--always-ok" = {
            set_if = "$linuxfabrik_matomo_version_always_ok$"
            description = "Always returns OK."
        }
        "--cache-expire" = {
            value = "$linuxfabrik_matomo_version_cache_expire$"
            description = "The amount of time after which the update check cache expires, in hours. Default: 24"
        }
        "--path" = {
            value = "$linuxfabrik_matomo_version_path$"
            description = "Local path to your Matomo/Piwik installation, typically within your Webserver's Document Root. Default: /var/www/html/matomo"
        }
    }
}