/*
Commands and services for 'memory-usage' check from LinuxFabrik Monitoring Plugin:

Displays amount of free and used memory in the system, checks against used memory in percent.

Code at:
https://github.com/Linuxfabrik/monitoring-plugins/tree/main/check-plugins/memory-usage
*/

object CheckCommand "_linuxfabrik_memory_usage" {
    command = [ "{{ linuxfabrik_monitoring_plugins_dest_path }}/memory-usage" ]

    arguments = {
        "--help" = {
            set_if = "$linuxfabrik_memory_usage_help$"
            description = "show this help message and exit"
        }
        "--version" = {
            set_if = "$linuxfabrik_memory_usage_version$"
            description = "show program's version number and exit"
        }
        "--always-ok" = {
            set_if = "$linuxfabrik_memory_usage_alwaysok$"
            description = "Always returns OK."
        }
        "--critical" = {
            value = "$linuxfabrik_memory_usage_critical$"
            description = "Set the critical threshold for memory usage (in percent). Default: 95"
        }
        "--warning" = {
            value = "$linuxfabrik_memory_usage_warning$"
            description = "Set the warning threshold for memory usage (in percent). Default: 90"
        }
    }
}