/*
Commands and services for 'mysql-thread-cache' check from LinuxFabrik Monitoring Plugin:

Checks the number of threads MySQL/MariaDB caches for re-use.

Code at:
https://github.com/Linuxfabrik/monitoring-plugins/tree/main/check-plugins/mysql-thread-cache
*/

object CheckCommand "_linuxfabrik_mysql_thread_cache" {
    command = [ "{{ linuxfabrik_monitoring_plugins_dest_path }}/mysql-thread-cache" ]

    arguments = {
        "--help" = {
            set_if = "$linuxfabrik_mysql_thread_cache_help$"
            description = "show this help message and exit"
        }
        "--version" = {
            set_if = "$linuxfabrik_mysql_thread_cache_version$"
            description = "show program's version number and exit"
        }
        "--always-ok" = {
            set_if = "$linuxfabrik_mysql_thread_cache_alwaysok$"
            description = "Always returns OK."
        }
        "--hostname" = {
            value = "$linuxfabrik_mysql_thread_cache_hostname$"
            description = "MySQL/MariaDB hostname. Default: 127.0.0.1"
        }
        "--password" = {
            value = "$linuxfabrik_mysql_thread_cache_password$"
            description = "Use the indicated password to authenticate the connection. Default:"
        }
        "--port" = {
            value = "$linuxfabrik_mysql_thread_cache_port$"
            description = "MySQL/MariaDB port. Default: 3306"
        }
        "--username" = {
            value = "$linuxfabrik_mysql_thread_cache_username$"
            description = "MySQL/MariaDB username. Default: root"
        }
    }
}