/*
Commands and services for 'mysql-open-files' check from LinuxFabrik Monitoring Plugin:

Checks the open file usage in MySQL/MariaDB.

Code at:
https://github.com/Linuxfabrik/monitoring-plugins/tree/main/check-plugins/mysql-open-files
*/

object CheckCommand "_linuxfabrik_mysql_open_files" {
    command = [ "{{ linuxfabrik_monitoring_plugins_dest_path }}/mysql-open-files" ]

    arguments = {
        "--help" = {
            set_if = "$linuxfabrik_mysql_open_files_help$"
            description = "show this help message and exit"
        }
        "--version" = {
            set_if = "$linuxfabrik_mysql_open_files_version$"
            description = "show program's version number and exit"
        }
        "--always-ok" = {
            set_if = "$linuxfabrik_mysql_open_files_alwaysok$"
            description = "Always returns OK."
        }
        "--hostname" = {
            value = "$linuxfabrik_mysql_open_files_hostname$"
            description = "MySQL/MariaDB hostname. Default: 127.0.0.1"
        }
        "--password" = {
            value = "$linuxfabrik_mysql_open_files_password$"
            description = "Use the indicated password to authenticate the connection. Default:"
        }
        "--port" = {
            value = "$linuxfabrik_mysql_open_files_port$"
            description = "MySQL/MariaDB port. Default: 3306"
        }
        "--username" = {
            value = "$linuxfabrik_mysql_open_files_username$"
            description = "MySQL/MariaDB username. Default: root"
        }
    }
}