/*
Commands and services for 'mysql-system' check from LinuxFabrik Monitoring Plugin:

Checks system requirements and kernel settings specifically for MySQL/MariaDB.

Code at:
https://github.com/Linuxfabrik/monitoring-plugins/tree/main/check-plugins/mysql-system
*/

object CheckCommand "_linuxfabrik_mysql_system" {
    command = [ "{{ linuxfabrik_monitoring_plugins_dest_path }}/mysql-system" ]

    arguments = {
        "--help" = {
            set_if = "$linuxfabrik_mysql_system_help$"
            description = "show this help message and exit"
        }
        "--version" = {
            set_if = "$linuxfabrik_mysql_system_version$"
            description = "show program's version number and exit"
        }
        "--always-ok" = {
            set_if = "$linuxfabrik_mysql_system_alwaysok$"
            description = "Always returns OK."
        }
        "--maxportsallowed" = {
            value = "$linuxfabrik_mysql_system_maxportsallowed$"
            description = "Number of ports opened allowed on this host. Default: 0 (check disabled)"
        }
    }
}