# {{ ansible_managed }}

/*
Commands and services for 'mysql-table-definition-cache' check from LinuxFabrik Monitoring Plugin:

Checks the size of the table definition cache in MySQL/MariaDB.

Code at:
https://github.com/Linuxfabrik/monitoring-plugins/tree/main/check-plugins/mysql-table-definition-cache
*/

object CheckCommand "_linuxfabrik_mysql_table_definition_cache" {
    command = [ "{{ linuxfabrik_monitoring_plugins_dest_path }}/linuxfabrik/mysql-table-definition-cache" ]

    arguments = {
        "--help" = {
            set_if = "$linuxfabrik_mysql_table_definition_cache_help$"
            description = "show this help message and exit"
        }
        "--version" = {
            set_if = "$linuxfabrik_mysql_table_definition_cache_version$"
            description = "show program's version number and exit"
        }
        "--always-ok" = {
            set_if = "$linuxfabrik_mysql_table_definition_cache_always_ok$"
            description = "Always returns OK."
        }
        "--hostname" = {
            value = "$linuxfabrik_mysql_table_definition_cache_hostname$"
            description = "MySQL/MariaDB hostname. Default: 127.0.0.1"
        }
        "--password" = {
            value = "$linuxfabrik_mysql_table_definition_cache_password$"
            description = "Use the indicated password to authenticate the connection. Default:"
        }
        "--port" = {
            value = "$linuxfabrik_mysql_table_definition_cache_port$"
            description = "MySQL/MariaDB port. Default: 3306"
        }
        "--username" = {
            value = "$linuxfabrik_mysql_table_definition_cache_username$"
            description = "MySQL/MariaDB username. Default: root"
        }
    }
}