/*
Commands and services for 'mysql-database-metrics' check from LinuxFabrik Monitoring Plugin:

schemas.

Code at:
https://github.com/Linuxfabrik/monitoring-plugins/tree/main/check-plugins/mysql-database-metrics
*/

object CheckCommand "_linuxfabrik_mysql_database_metrics" {
    command = [ "{{ linuxfabrik_monitoring_plugins_dest_path }}/mysql-database-metrics" ]

    arguments = {
        "--help" = {
            set_if = "$linuxfabrik_mysql_database_metrics_help$"
            description = "show this help message and exit"
        }
        "--version" = {
            set_if = "$linuxfabrik_mysql_database_metrics_version$"
            description = "show program's version number and exit"
        }
        "--always-ok" = {
            set_if = "$linuxfabrik_mysql_database_metrics_alwaysok$"
            description = "Always returns OK."
        }
        "--hostname" = {
            value = "$linuxfabrik_mysql_database_metrics_hostname$"
            description = "MySQL/MariaDB hostname. Default: 127.0.0.1"
        }
        "--password" = {
            value = "$linuxfabrik_mysql_database_metrics_password$"
            description = "Use the indicated password to authenticate the connection. Default:"
        }
        "--port" = {
            value = "$linuxfabrik_mysql_database_metrics_port$"
            description = "MySQL/MariaDB port. Default: 3306"
        }
        "--timeout" = {
            value = "$linuxfabrik_mysql_database_metrics_timeout$"
            description = "Network timeout in seconds. Default: 3 (seconds)"
        }
        "--username" = {
            value = "$linuxfabrik_mysql_database_metrics_username$"
            description = "MySQL/MariaDB username. Default: root"
        }
    }
}