# {{ ansible_managed }}

/*
Commands and services for 'nodebb-users' check from LinuxFabrik Monitoring Plugin:

Get NodeBB users.

Code at:
https://github.com/Linuxfabrik/monitoring-plugins/tree/main/check-plugins/nodebb-users
*/

object CheckCommand "_linuxfabrik_nodebb_users" {
    command = [ "{{ linuxfabrik_monitoring_plugins_dest_path }}/nodebb-users" ]

    arguments = {
        "--help" = {
            set_if = "$nodebb_users_help$"
            description = "show this help message and exit"
        }
        "--version" = {
            set_if = "$nodebb_users_version$"
            description = "show program's version number and exit"
        }
        "--always-ok" = {
            set_if = "$nodebb_users_always_ok$"
            description = "Always returns OK."
        }
        "--insecure" = {
            set_if = "$nodebb_users_insecure$"
            description = "This option explicitly allows to perform 'insecure' SSL connections. Default: False"
        }
        "--severity" = {
            value = "$nodebb_users_severity$"
            description = "Severity for alerts that do not depend on thresholds. One of 'warn' or 'crit'. Default: warn"
        }
        "--test" = {
            value = "$nodebb_users_test$"
            description = "For unit tests. Needs 'path-to-stdout-file,path-to- stderr-file,expected-retc'."
        }
        "--timeout" = {
            value = "$nodebb_users_timeout$"
            description = "Network timeout in seconds. Default: 3 (seconds)"
        }
        "--token" = {
            value = "$nodebb_users_token$"
            description = "NodeBB API Bearer token."
        }
        "--url" = {
            value = "$nodebb_users_url$"
            description = "NodeBB API URL. Default: http://localhost:4567/forum"
        }
    }
}