/*
Commands and services for 'ntp-systemd-timesyncd' check from LinuxFabrik Monitoring Plugin:

This plugin checks the state of systemd-timesyncd.

Code at:
https://github.com/Linuxfabrik/monitoring-plugins/tree/main/check-plugins/ntp-systemd-timesyncd
*/

object CheckCommand "_linuxfabrik_ntp_systemd_timesyncd" {
    command = [ "{{ linuxfabrik_monitoring_plugins_dest_path }}/ntp-systemd-timesyncd" ]

    arguments = {
        "--help" = {
            set_if = "$linuxfabrik_ntp_systemd_timesyncd_help$"
            description = "show this help message and exit"
        }
        "--version" = {
            set_if = "$linuxfabrik_ntp_systemd_timesyncd_version$"
            description = "show program's version number and exit"
        }
        "--test" = {
            value = "$linuxfabrik_ntp_systemd_timesyncd_test$"
            description = "For unit tests. Needs 'path-to-stdout-file,path-to-stderr- file,expected-retc'."
        }
    }
}