# {{ ansible_managed }}

/*
Commands and services for 'ntp-ntpd' check from LinuxFabrik Monitoring Plugin:

servers.

Code at:
https://github.com/Linuxfabrik/monitoring-plugins/tree/main/check-plugins/ntp-ntpd
*/

object CheckCommand "_linuxfabrik_ntp_ntpd" {
    command = [ "{{ linuxfabrik_monitoring_plugins_dest_path }}/linuxfabrik/ntp-ntpd" ]

    arguments = {
        "--help" = {
            set_if = "$linuxfabrik_ntp_ntpd_help$"
            description = "show this help message and exit"
        }
        "--version" = {
            set_if = "$linuxfabrik_ntp_ntpd_version$"
            description = "show program's version number and exit"
        }
        "--critical" = {
            value = "$linuxfabrik_ntp_ntpd_critical$"
            description = "Set the critical threshold for the ntp time offset, in ms. Default: 86400000ms"
        }
        "--test" = {
            value = "$linuxfabrik_ntp_ntpd_test$"
            description = "For unit tests. Needs 'path-to-stdout-file,path-to- stderr-file,expected-retc'."
        }
        "--warning" = {
            value = "$linuxfabrik_ntp_ntpd_warning$"
            description = "Set the warning threshold for the ntp time offset, in ms. Default: 800ms"
        }
    }
}