# {{ ansible_managed }}

/*
Commands and services for 'onlyoffice-stats' check from LinuxFabrik Monitoring Plugin:

Checks OnlyOffice statistics and license usage via HTTP.

Code at:
https://github.com/Linuxfabrik/monitoring-plugins/tree/main/check-plugins/onlyoffice-stats
*/

object CheckCommand "_linuxfabrik_onlyoffice_stats" {
    command = [ "{{ linuxfabrik_monitoring_plugins_dest_path }}/onlyoffice-stats" ]

    arguments = {
        "--help" = {
            set_if = "$onlyoffice_stats_help$"
            description = "show this help message and exit"
        }
        "--version" = {
            set_if = "$onlyoffice_stats_version$"
            description = "show program's version number and exit"
        }
        "--test" = {
            value = "$onlyoffice_stats_test$"
            description = "For unit tests. Needs 'path-to-stdout-file,path-to- stderr-file,expected-retc'."
        }
        "--timeout" = {
            value = "$onlyoffice_stats_timeout$"
            description = "Network timeout in seconds. Default: 3 (seconds)"
        }
        "--url" = {
            value = "$onlyoffice_stats_url$"
            description = "OnlyOffice API URL. Default: http://localhost"
        }
    }
}