# {{ ansible_managed }}

/*
Commands and services for 'redfish-drives' check from LinuxFabrik Monitoring Plugin:

collection.

Code at:
https://github.com/Linuxfabrik/monitoring-plugins/tree/main/check-plugins/redfish-drives
*/

object CheckCommand "_linuxfabrik_redfish_drives" {
    command = [ "{{ linuxfabrik_monitoring_plugins_dest_path }}/linuxfabrik/redfish-drives" ]

    arguments = {
        "--help" = {
            set_if = "$linuxfabrik_redfish_drives_help$"
            description = "show this help message and exit"
        }
        "--version" = {
            set_if = "$linuxfabrik_redfish_drives_version$"
            description = "show program's version number and exit"
        }
        "--always-ok" = {
            set_if = "$linuxfabrik_redfish_drives_always_ok$"
            description = "Always returns OK."
        }
        "--password" = {
            value = "$linuxfabrik_redfish_drives_password$"
            description = "Redfish API password."
        }
        "--url" = {
            value = "$linuxfabrik_redfish_drives_url$"
            description = "Redfish API URL. Default: https://localhost:5000"
        }
        "--username" = {
            value = "$linuxfabrik_redfish_drives_username$"
            description = "Redfish API username."
        }
    }
}