/*
Commands and services for 'redfish-sel' check from LinuxFabrik Monitoring Plugin:

an alert based on the severity of the messages.

Code at:
https://github.com/Linuxfabrik/monitoring-plugins/tree/main/check-plugins/redfish-sel
*/

object CheckCommand "_linuxfabrik_redfish_sel" {
    command = [ "{{ linuxfabrik_monitoring_plugins_dest_path }}/redfish-sel" ]

    arguments = {
        "--help" = {
            set_if = "$linuxfabrik_redfish_sel_help$"
            description = "show this help message and exit"
        }
        "--version" = {
            set_if = "$linuxfabrik_redfish_sel_version$"
            description = "show program's version number and exit"
        }
        "--always-ok" = {
            set_if = "$linuxfabrik_redfish_sel_alwaysok$"
            description = "Always returns OK."
        }
        "--password" = {
            value = "$linuxfabrik_redfish_sel_password$"
            description = "Redfish API password."
        }
        "--url" = {
            value = "$linuxfabrik_redfish_sel_url$"
            description = "Redfish API URL. Default: https://localhost:5000"
        }
        "--username" = {
            value = "$linuxfabrik_redfish_sel_username$"
            description = "Redfish API username."
        }
    }
}