# {{ ansible_managed }}

/*
Commands and services for 'restic-check' check from LinuxFabrik Monitoring Plugin:

Check the restic repository for errors.

Code at:
https://github.com/Linuxfabrik/monitoring-plugins/tree/main/check-plugins/restic-check
*/

object CheckCommand "_linuxfabrik_restic_check" {
    command = [ "sudo", "{{ linuxfabrik_monitoring_plugins_dest_path }}/restic-check" ]

    arguments = {
        "--help" = {
            set_if = "$restic_check_help$"
            description = "show this help message and exit"
        }
        "--version" = {
            set_if = "$restic_check_version$"
            description = "show program's version number and exit"
        }
        "--password-file" = {
            value = "$restic_check_password_file$"
            description = "File to read the repository password from"
        }
        "--repo" = {
            value = "$restic_check_repo$"
            description = "Repository location"
        }
        "--test" = {
            value = "$restic_check_test$"
            description = "For unit tests. Needs 'path-to-stdout-file,path-to- stderr-file,expected-retc'."
        }
    }
}