/*
Commands and services for 'sensors-temperatures' check from LinuxFabrik Monitoring Plugin:

thresholds. If sensors are not supported by the OS OK is returned.

Code at:
https://github.com/Linuxfabrik/monitoring-plugins/tree/main/check-plugins/sensors-temperatures
*/

object CheckCommand "_linuxfabrik_sensors_temperatures" {
    command = [ "{{ linuxfabrik_monitoring_plugins_dest_path }}/sensors-temperatures" ]

    arguments = {
        "--help" = {
            set_if = "$linuxfabrik_sensors_temperatures_help$"
            description = "show this help message and exit"
        }
        "--version" = {
            set_if = "$linuxfabrik_sensors_temperatures_version$"
            description = "show program's version number and exit"
        }
        "--always-ok" = {
            set_if = "$linuxfabrik_sensors_temperatures_alwaysok$"
            description = "Always returns OK."
        }
    }
}