# {{ ansible_managed }}

/*
Commands and services for 'service' check from LinuxFabrik Monitoring Plugin:

host with almost the same name, for example.

Code at:
https://github.com/Linuxfabrik/monitoring-plugins/tree/main/check-plugins/service
*/

object CheckCommand "_linuxfabrik_service" {
    command = [ "{{ linuxfabrik_monitoring_plugins_dest_path }}/service" ]

    arguments = {
        "--help" = {
            set_if = "$service_help$"
            description = "show this help message and exit"
        }
        "--version" = {
            set_if = "$service_version$"
            description = "show program's version number and exit"
        }
        "--always-ok" = {
            set_if = "$service_always_ok$"
            description = "Always returns OK."
        }
        "--critical" = {
            value = "$service_critical$"
            description = "Set the CRIT threshold. Accepts ranges. Default: 'None'"
        }
        "--service" = {
            value = "$service_service$"
            description = "Name of the service. Supports Python Regular Expressions (regex)."
        }
        "--starttype" = {
            value = "$service_starttype$"
            description = "Expected service start type. Default: automatic"
        }
        "--status" = {
            value = "$service_status$"
            description = "At least one expected service status (repeating). Default: running"
            repeat_key = true
        }
        "--warning" = {
            value = "$service_warning$"
            description = "Set the WARN threshold. Accepts ranges. Default: '1:'"
        }
    }
}