/*
Commands and services for 'snmp' check from LinuxFabrik Monitoring Plugin:

have to be defined in a CSV file, including optional WARN and CRIT parameters.

Code at:
https://github.com/Linuxfabrik/monitoring-plugins/tree/main/check-plugins/snmp
*/

object CheckCommand "_linuxfabrik_snmp" {
    command = [ "{{ linuxfabrik_monitoring_plugins_dest_path }}/snmp" ]

    arguments = {
        "--help" = {
            set_if = "$linuxfabrik_snmp_help$"
            description = "show this help message and exit"
        }
        "--version" = {
            set_if = "$linuxfabrik_snmp_version$"
            description = "show program's version number and exit"
        }
        "--community" = {
            value = "$linuxfabrik_snmp_community$"
            description = "SNMP Version 1 or 2c specific. Set the community string. Default: public."
        }
        "--device" = {
            value = "$linuxfabrik_snmp_device$"
            description = "The name of a device file containing the SNMP-OIDs, located under `./device-oids`, for example `switch- fs-s3900.csv` or `printer-brother-mfcj5720dw.csv`. Default: any-any-any.csv."
        }
        "--hide-ok" = {
            set_if = "$linuxfabrik_snmp_hideok$"
            description = "Don't print OIDs with OK state. Default: False."
        }
        "--hostname" = {
            value = "$linuxfabrik_snmp_hostname$"
            description = "SNMP Appliance address."
        }
        "--mib" = {
            value = "$linuxfabrik_snmp_mib$"
            description = "Load given list of MIBs, for example `+FS-MIB` or `FS- MIB:BROTHER-MIB`. Behaves like the `-m` option of `snmpget`."
        }
        "--mib-dir" = {
            value = "$linuxfabrik_snmp_mibdir$"
            description = "Look in given list of directories for MIBs. Behaves like the `-M` option of `snmpget`. Default: $HOME/.snmp/mibs:/usr/share/snmp/mibs."
        }
        "--snmpversion" = {
            value = "$linuxfabrik_snmp_snmpversion$"
            description = "1,2c,3} Specifies SNMP version to use. Default: 2c."
        }
        "--timeout" = {
            value = "$linuxfabrik_snmp_timeout$"
            description = "Network timeout in seconds. Default: 7 (seconds)."
        }
        "--v3bootstime" = {
            value = "$linuxfabrik_snmp_v3bootstime$"
            description = "3BOOTSTIME SNMP Version 3 specific. Set destination engine boots/time."
        }
        "--v3context" = {
            value = "$linuxfabrik_snmp_v3context$"
            description = "3CONTEXT SNMP Version 3 specific. Set context name (e.g. bridge1)."
        }
        "--v3contextengineid" = {
            value = "$linuxfabrik_snmp_v3contextengineid$"
            description = "3CONTEXTENGINEID SNMP Version 3 specific. Set context engine ID (e.g. 800000020109840301)."
        }
        "--v3securityengineid" = {
            value = "$linuxfabrik_snmp_v3securityengineid$"
            description = "3SECURITYENGINEID SNMP Version 3 specific. Set security engine ID (e.g. 800000020109840301)."
        }
        "--v3level" = {
            value = "$linuxfabrik_snmp_v3level$"
            description = "SNMP Version 3 specific. Set security level."
        }
        "--v3authprotpassword" = {
            value = "$linuxfabrik_snmp_v3authprotpassword$"
            description = "3AUTHPROTPASSWORD SNMP Version 3 specific. Set authentication protocol pass phrase."
        }
        "--v3privprotpassword" = {
            value = "$linuxfabrik_snmp_v3privprotpassword$"
            description = "3PRIVPROTPASSWORD SNMP Version 3 specific. Set privacy protocol pass phrase."
        }
        "--v3authprot" = {
            value = "$linuxfabrik_snmp_v3authprot$"
            description = "5,SHA,SHA-224,SHA-256,SHA-384,SHA-512} SNMP Version 3 specific. Set authentication protocol."
        }
        "--v3privprot" = {
            value = "$linuxfabrik_snmp_v3privprot$"
            description = "-192,AES-256} SNMP Version 3 specific. Set privacy protocol."
        }
        "--v3username" = {
            value = "$linuxfabrik_snmp_v3username$"
            description = "3USERNAME SNMP Version 3 specific. Set security name (e.g. bert)."
        }
        "--test" = {
            value = "$linuxfabrik_snmp_test$"
            description = "For unit tests. Needs 'path-to-stdout-file,path-to- stderr-file,expected-retc'."
        }
        "--test" = {
            value = "$linuxfabrik_snmp_test$"
            description = "For unit tests. Needs 'path-to-stdout-file,path-to- stderr-file,expected-retc'."
        }
    }
}