# {{ ansible_managed }}

/*
Commands and services for 'starface-java-memory-usage' check from LinuxFabrik Monitoring Plugin:

plugins running in parallel do not query the data again and overload the PBX.

Code at:
https://github.com/Linuxfabrik/monitoring-plugins/tree/main/check-plugins/starface-java-memory-usage
*/

object CheckCommand "_linuxfabrik_starface_java_memory_usage" {
    command = [ "{{ linuxfabrik_monitoring_plugins_dest_path }}/linuxfabrik/starface-java-memory-usage" ]

    arguments = {
        "--help" = {
            set_if = "$linuxfabrik_starface_java_memory_usage_help$"
            description = "show this help message and exit"
        }
        "--version" = {
            set_if = "$linuxfabrik_starface_java_memory_usage_version$"
            description = "show program's version number and exit"
        }
        "--always-ok" = {
            set_if = "$linuxfabrik_starface_java_memory_usage_always_ok$"
            description = "Always returns OK."
        }
        "--cache-expire" = {
            value = "$linuxfabrik_starface_java_memory_usage_cache_expire$"
            description = "The amount of time after which the cached data expires, in minutes. Default: 1"
        }
        "--critical" = {
            value = "$linuxfabrik_starface_java_memory_usage_critical$"
            description = "Set the critical threshold (percentage). Default: 90"
        }
        "--hostname" = {
            value = "$linuxfabrik_starface_java_memory_usage_hostname$"
            description = "Starface PBX address, can be IP address or hostname. Default: localhost"
        }
        "--port" = {
            value = "$linuxfabrik_starface_java_memory_usage_port$"
            description = "Starface PBX monitoring port. Default: 6556"
        }
        "--test" = {
            value = "$linuxfabrik_starface_java_memory_usage_test$"
            description = "For unit tests. Needs 'path-to-stdout-file,path-to- stderr-file,expected-retc'."
        }
        "--timeout" = {
            value = "$linuxfabrik_starface_java_memory_usage_timeout$"
            description = "Network timeout in seconds. Default: 3 (seconds)"
        }
        "--warning" = {
            value = "$linuxfabrik_starface_java_memory_usage_warning$"
            description = "Set the warning threshold (percentage). Default: 80"
        }
        "--6" = {
            set_if = "$linuxfabrik_starface_java_memory_usage_6$"
            description = "Use IPv6."
        }
    }
}