# {{ ansible_managed }}

/*
Commands and services for 'swap-usage' check from LinuxFabrik Monitoring Plugin:

swap in percent.

Code at:
https://github.com/Linuxfabrik/monitoring-plugins/tree/main/check-plugins/swap-usage
*/

object CheckCommand "_linuxfabrik_swap_usage" {
    command = [ "{{ linuxfabrik_monitoring_plugins_dest_path }}/swap-usage" ]

    arguments = {
        "--help" = {
            set_if = "$swap_usage_help$"
            description = "show this help message and exit"
        }
        "--version" = {
            set_if = "$swap_usage_version$"
            description = "show program's version number and exit"
        }
        "--always-ok" = {
            set_if = "$swap_usage_always_ok$"
            description = "Always returns OK."
        }
        "--critical" = {
            value = "$swap_usage_critical$"
            description = "Set the critical threshold for swap usage (in percent). Default: 90"
        }
        "--warning" = {
            value = "$swap_usage_warning$"
            description = "Set the warning threshold for swap usage (in percent). Default: 70"
        }
    }
}