/*
Commands and services for 'users' check from LinuxFabrik Monitoring Plugin:

disconnected users on Windows (closed connections without logging out).

Code at:
https://github.com/Linuxfabrik/monitoring-plugins/tree/main/check-plugins/users
*/

object CheckCommand "_linuxfabrik_users" {
    command = [ "{{ linuxfabrik_monitoring_plugins_dest_path }}/users" ]

    arguments = {
        "--help" = {
            set_if = "$linuxfabrik_users_help$"
            description = "show this help message and exit"
        }
        "--version" = {
            set_if = "$linuxfabrik_users_version$"
            description = "show program's version number and exit"
        }
        "--critical" = {
            value = "$linuxfabrik_users_critical$"
            description = "Set the critical threshold for logged in tty/pts users, in the format '3,10'. On Windows, you can additionally set it for disconnected users, in the format '3,10,1'. Default: [None, None, None]"
        }
        "--warning" = {
            value = "$linuxfabrik_users_warning$"
            description = "Set the warning threshold for logged in tty/pts users, in the format '1,5'. On Windows, you can additionally set it for disconnected users, in the format '1,5,10'. Default: [1, 20, 1]"
        }
    }
}