# {{ ansible_managed }}

/*
Commands and services for 'veeam-status' check from LinuxFabrik Monitoring Plugin:

Enterprise Manager API (requires a Veeam Enterprise License).

Code at:
https://github.com/Linuxfabrik/monitoring-plugins/tree/main/check-plugins/veeam-status
*/

object CheckCommand "_linuxfabrik_veeam_status" {
    command = [ "{{ linuxfabrik_monitoring_plugins_dest_path }}/veeam-status" ]

    arguments = {
        "--help" = {
            set_if = "$veeam_status_help$"
            description = "show this help message and exit"
        }
        "--version" = {
            set_if = "$veeam_status_version$"
            description = "show program's version number and exit"
        }
        "--always-ok" = {
            set_if = "$veeam_status_always_ok$"
            description = "Always returns OK."
        }
        "--critical" = {
            value = "$veeam_status_critical$"
            description = "Set the CRIT threshold as a percentage. Default: >= 90"
        }
        "--password" = {
            value = "$veeam_status_password$"
            description = "Veeam API password."
        }
        "--test" = {
            value = "$veeam_status_test$"
            description = "For unit tests. Needs 'path-to-stdout-file,path-to- stderr-file,expected-retc'."
        }
        "--timeout" = {
            value = "$veeam_status_timeout$"
            description = "Network timeout in seconds. Default: 3 (seconds)"
        }
        "--url" = {
            value = "$veeam_status_url$"
            description = "Veeam API URL. Default: https://localhost:9398"
        }
        "--username" = {
            value = "$veeam_status_username$"
            description = "Veeam API username. Default: Administrator"
        }
        "--warning" = {
            value = "$veeam_status_warning$"
            description = "Set the WARN threshold as a percentage. Default: >= 80"
        }
    }
}