# {{ ansible_managed }}

/*
Commands and services for 'wildfly-non-xa-datasource-stats' check from LinuxFabrik Monitoring Plugin:

Returns metrics about Non-XA Datasources of a Wildfly/JBossAS over HTTP.

Code at:
https://github.com/Linuxfabrik/monitoring-plugins/tree/main/check-plugins/wildfly-non-xa-datasource-stats
*/

object CheckCommand "_linuxfabrik_wildfly_non_xa_datasource_stats" {
    command = [ "{{ linuxfabrik_monitoring_plugins_dest_path }}/wildfly-non-xa-datasource-stats" ]

    arguments = {
        "--help" = {
            set_if = "$wildfly_non_xa_datasource_stats_help$"
            description = "show this help message and exit"
        }
        "--version" = {
            set_if = "$wildfly_non_xa_datasource_stats_version$"
            description = "show program's version number and exit"
        }
        "--always-ok" = {
            set_if = "$wildfly_non_xa_datasource_stats_always_ok$"
            description = "Always returns OK."
        }
        "--critical" = {
            value = "$wildfly_non_xa_datasource_stats_critical$"
            description = "Set the critical threshold."
        }
        "--datasource" = {
            value = "$wildfly_non_xa_datasource_stats_datasource$"
            description = "The name of a specific datasource (repeating). Default: None"
            repeat_key = true
        }
        "--instance" = {
            value = "$wildfly_non_xa_datasource_stats_instance$"
            description = "The instance (server-config) to check if running in domain mode."
        }
        "--mode" = {
            value = "$wildfly_non_xa_datasource_stats_mode$"
            description = "The mode the server is running."
        }
        "--node" = {
            value = "$wildfly_non_xa_datasource_stats_node$"
            description = "The node (host) if running in domain mode."
        }
        "--password" = {
            value = "$wildfly_non_xa_datasource_stats_password$"
            description = "WildFly API password."
        }
        "--timeout" = {
            value = "$wildfly_non_xa_datasource_stats_timeout$"
            description = "Network timeout in seconds. Default: 3 (seconds)"
        }
        "--url" = {
            value = "$wildfly_non_xa_datasource_stats_url$"
            description = "WildFly API URL. Default: http://localhost:9990"
        }
        "--username" = {
            value = "$wildfly_non_xa_datasource_stats_username$"
            description = "WildFly API username. Default: wildfly-monitoring"
        }
        "--warning" = {
            value = "$wildfly_non_xa_datasource_stats_warning$"
            description = "Set the warning threshold."
        }
    }
}