/*
Commands and services for 'wordpress-version' check from LinuxFabrik Monitoring Plugin:

This plugin lets you track if server updates are available.

Code at:
https://github.com/Linuxfabrik/monitoring-plugins/tree/main/check-plugins/wordpress-version
*/

object CheckCommand "_linuxfabrik_wordpress_version" {
    command = [ "{{ linuxfabrik_monitoring_plugins_dest_path }}/wordpress-version" ]

    arguments = {
        "--help" = {
            set_if = "$linuxfabrik_wordpress_version_help$"
            description = "show this help message and exit"
        }
        "--version" = {
            set_if = "$linuxfabrik_wordpress_version_version$"
            description = "show program's version number and exit"
        }
        "--always-ok" = {
            set_if = "$linuxfabrik_wordpress_version_alwaysok$"
            description = "Always returns OK."
        }
        "--cache-expire" = {
            value = "$linuxfabrik_wordpress_version_cacheexpire$"
            description = "The amount of time after which the update check cache expires, in hours. Default: 24"
        }
        "--path" = {
            value = "$linuxfabrik_wordpress_version_path$"
            description = "Local path to your WordPress installation. Default:/var/www/html/wordpress"
        }
    }
}