# {{ ansible_managed }}

/*
Commands and services for 'scheduled-task' check from LinuxFabrik Monitoring Plugin:

Check the status of a scheduled task.

(Windows version)

Code at:
https://github.com/Linuxfabrik/monitoring-plugins/tree/main/check-plugins/scheduled-task
*/

object CheckCommand "_win_linuxfabrik_scheduled_task" {
    command = [ "{{ linuxfabrik_monitoring_plugins_dest_path }}/scheduled-task.exe" ]

    arguments = {
        "--help" = {
            set_if = "$linuxfabrik_scheduled_task_help$"
            description = "show this help message and exit"
        }
        "--version" = {
            set_if = "$linuxfabrik_scheduled_task_version$"
            description = "show program's version number and exit"
        }
        "--severity" = {
            value = "$linuxfabrik_scheduled_task_severity$"
            description = "Severity if something is found. Default: warn"
        }
        "--status" = {
            value = "$linuxfabrik_scheduled_task_status$"
            description = "Expected task status (repeating). Default: ['Ready', 'Running']"
            repeat_key = true
        }
        "--task" = {
            value = "$linuxfabrik_scheduled_task_task$"
            description = "Name of the scheduled task."
        }
    }
}