# {{ ansible_managed }}

/*
Commands and services for 'dns' check from LinuxFabrik Monitoring Plugin:

other DNS servers. This command works with both IPv4 and IPv6.

(Windows version)

Code at:
https://github.com/Linuxfabrik/monitoring-plugins/tree/main/check-plugins/dns
*/

object CheckCommand "_win_linuxfabrik_dns" {
    command = [ "{{ linuxfabrik_monitoring_plugins_dest_path }}/dns.exe" ]

    arguments = {
        "--help" = {
            set_if = "$linuxfabrik_dns_help$"
            description = "show this help message and exit"
        }
        "--version" = {
            set_if = "$linuxfabrik_dns_version$"
            description = "show program's version number and exit"
        }
        "--always-ok" = {
            set_if = "$linuxfabrik_dns_always_ok$"
            description = "Always returns OK."
        }
        "--critical" = {
            value = "$linuxfabrik_dns_critical$"
            description = "Return critical if elapsed time in ms exceeds value. Default: None"
        }
        "--hostname" = {
            value = "$linuxfabrik_dns_hostname$"
            description = "The host or ip address to check. Default: localhost"
        }
        "--port" = {
            value = "$linuxfabrik_dns_port$"
            description = "The port number. Default: 53"
        }
        "--type" = {
            value = "$linuxfabrik_dns_type$"
            description = "6,tcp,tcp6} Connection type. Can be optionally specified in order to narrow the list of addresses returned."
        }
        "--warning" = {
            value = "$linuxfabrik_dns_warning$"
            description = "Return warning if elapsed time in ms exceeds value. Default: None"
        }
    }
}