# {{ ansible_managed }}

/*
Commands and services for 'qts-cpu-usage' check from LinuxFabrik Monitoring Plugin:

based authentication, which is stated as "legacy".

(Windows version)

Code at:
https://github.com/Linuxfabrik/monitoring-plugins/tree/main/check-plugins/qts-cpu-usage
*/

object CheckCommand "_win_linuxfabrik_qts_cpu_usage" {
    command = [ "{{ linuxfabrik_monitoring_plugins_dest_path }}/qts-cpu-usage.exe" ]

    arguments = {
        "--help" = {
            set_if = "$linuxfabrik_qts_cpu_usage_help$"
            description = "show this help message and exit"
        }
        "--version" = {
            set_if = "$linuxfabrik_qts_cpu_usage_version$"
            description = "show program's version number and exit"
        }
        "--always-ok" = {
            set_if = "$linuxfabrik_qts_cpu_usage_always_ok$"
            description = "Always returns OK."
        }
        "--count" = {
            value = "$linuxfabrik_qts_cpu_usage_count$"
            description = "Number of times the value has to be above the given thresholds. Default: 5"
        }
        "--critical" = {
            value = "$linuxfabrik_qts_cpu_usage_critical$"
            description = "Set the critical threshold CPU Usage Percentage. Default: 90"
        }
        "--insecure" = {
            set_if = "$linuxfabrik_qts_cpu_usage_insecure$"
            description = "This option explicitly allows to perform 'insecure' SSL connections. Default: False"
        }
        "--no-proxy" = {
            set_if = "$linuxfabrik_qts_cpu_usage_no_proxy$"
            description = "Do not use a proxy. Default: False"
        }
        "--password" = {
            value = "$linuxfabrik_qts_cpu_usage_password$"
            description = "QTS Password."
        }
        "--timeout" = {
            value = "$linuxfabrik_qts_cpu_usage_timeout$"
            description = "Network timeout in seconds. Default: 6 (seconds)"
        }
        "--url" = {
            value = "$linuxfabrik_qts_cpu_usage_url$"
            description = "QTS-based Appliance URL, for example https://192.168.1.1:8080."
        }
        "--username" = {
            value = "$linuxfabrik_qts_cpu_usage_username$"
            description = "QTS User. Default: admin"
        }
        "--warning" = {
            value = "$linuxfabrik_qts_cpu_usage_warning$"
            description = "Set the warning threshold CPU Usage Percentage. Default: 80"
        }
    }
}