# {{ ansible_managed }}

/*
Commands and services for 'wildfly-gc-status' check from LinuxFabrik Monitoring Plugin:

Prints the status of the Wildfly/JBossAS garbage collector.

(Windows version)

Code at:
https://github.com/Linuxfabrik/monitoring-plugins/tree/main/check-plugins/wildfly-gc-status
*/

object CheckCommand "_win_linuxfabrik_wildfly_gc_status" {
    command = [ "{{ linuxfabrik_monitoring_plugins_dest_path }}/wildfly-gc-status.exe" ]

    arguments = {
        "--help" = {
            set_if = "$linuxfabrik_wildfly_gc_status_help$"
            description = "show this help message and exit"
        }
        "--version" = {
            set_if = "$linuxfabrik_wildfly_gc_status_version$"
            description = "show program's version number and exit"
        }
        "--instance" = {
            value = "$linuxfabrik_wildfly_gc_status_instance$"
            description = "The instance (server-config) to check if running in domain mode."
        }
        "--mode" = {
            value = "$linuxfabrik_wildfly_gc_status_mode$"
            description = "The mode the server is running."
        }
        "--node" = {
            value = "$linuxfabrik_wildfly_gc_status_node$"
            description = "The node (host) if running in domain mode."
        }
        "--password" = {
            value = "$linuxfabrik_wildfly_gc_status_password$"
            description = "WildFly API password."
        }
        "--timeout" = {
            value = "$linuxfabrik_wildfly_gc_status_timeout$"
            description = "Network timeout in seconds. Default: 3 (seconds)"
        }
        "--url" = {
            value = "$linuxfabrik_wildfly_gc_status_url$"
            description = "WildFly API URL. Default: http://localhost:9990"
        }
        "--username" = {
            value = "$linuxfabrik_wildfly_gc_status_username$"
            description = "WildFly API username. Default: wildfly-admin"
        }
    }
}