# {{ ansible_managed }}

/*
Commands and services for 'network-port-tcp' check from LinuxFabrik Monitoring Plugin:

Checks whether a network port is reachable.

(Windows version)

Code at:
https://github.com/Linuxfabrik/monitoring-plugins/tree/main/check-plugins/network-port-tcp
*/

object CheckCommand "_win_linuxfabrik_network_port_tcp" {
    command = [ "{{ linuxfabrik_monitoring_plugins_dest_path }}/network-port-tcp.exe" ]

    arguments = {
        "--help" = {
            set_if = "$linuxfabrik_network_port_tcp_help$"
            description = "show this help message and exit"
        }
        "--version" = {
            set_if = "$linuxfabrik_network_port_tcp_version$"
            description = "show program's version number and exit"
        }
        "--hostname" = {
            value = "$linuxfabrik_network_port_tcp_hostname$"
            description = "The host or ip address to check. Default: localhost"
        }
        "--port" = {
            value = "$linuxfabrik_network_port_tcp_port$"
            description = "The port number. Default: 22"
        }
        "--portname" = {
            value = "$linuxfabrik_network_port_tcp_portname$"
            description = "The display name of the port."
        }
        "--state" = {
            value = "$linuxfabrik_network_port_tcp_state$"
            description = "The state that has to be returned. Default: warn"
        }
        "--timeout" = {
            value = "$linuxfabrik_network_port_tcp_timeout$"
            description = "Network timeout. Default: 2"
        }
        "--type" = {
            value = "$linuxfabrik_network_port_tcp_type$"
            description = "6}     Connection type. Default: tcp"
        }
    }
}