# {{ ansible_managed }}

/*
Commands and services for 'starface-backup-status' check from LinuxFabrik Monitoring Plugin:

do not query the data again and overload the PBX.

(Windows version)

Code at:
https://github.com/Linuxfabrik/monitoring-plugins/tree/main/check-plugins/starface-backup-status
*/

object CheckCommand "_win_linuxfabrik_starface_backup_status" {
    command = [ "{{ linuxfabrik_monitoring_plugins_dest_path }}/starface-backup-status.exe" ]

    arguments = {
        "--help" = {
            set_if = "$linuxfabrik_starface_backup_status_help$"
            description = "show this help message and exit"
        }
        "--version" = {
            set_if = "$linuxfabrik_starface_backup_status_version$"
            description = "show program's version number and exit"
        }
        "--always-ok" = {
            set_if = "$linuxfabrik_starface_backup_status_always_ok$"
            description = "Always returns OK."
        }
        "--cache-expire" = {
            value = "$linuxfabrik_starface_backup_status_cache_expire$"
            description = "The amount of time after which the cached data expires, in minutes. Default: 1"
        }
        "--critical" = {
            value = "$linuxfabrik_starface_backup_status_critical$"
            description = "Set the critical threshold for the time difference to the start of the last backup (in hours). Default: None"
        }
        "--hostname" = {
            value = "$linuxfabrik_starface_backup_status_hostname$"
            description = "Starface PBX address, can be IP address or hostname. Default: localhost"
        }
        "--port" = {
            value = "$linuxfabrik_starface_backup_status_port$"
            description = "Starface PBX monitoring port. Default: 6556"
        }
        "--test" = {
            value = "$linuxfabrik_starface_backup_status_test$"
            description = "For unit tests. Needs 'path-to-stdout-file,path-to- stderr-file,expected-retc'."
        }
        "--timeout" = {
            value = "$linuxfabrik_starface_backup_status_timeout$"
            description = "Network timeout in seconds. Default: 3 (seconds)"
        }
        "--warning" = {
            value = "$linuxfabrik_starface_backup_status_warning$"
            description = "Set the warning threshold for the time difference to the start of the last backup (in hours). Default: 24"
        }
        "--6" = {
            set_if = "$linuxfabrik_starface_backup_status_6$"
            description = "Use IPv6."
        }
    }
}