# {{ ansible_managed }}

/*
Commands and services for 'network-connections' check from LinuxFabrik Monitoring Plugin:

processing those connections.

(Windows version)

Code at:
https://github.com/Linuxfabrik/monitoring-plugins/tree/main/check-plugins/network-connections
*/

object CheckCommand "_win_linuxfabrik_network_connections" {
    command = [ "{{ linuxfabrik_monitoring_plugins_dest_path }}/network-connections.exe" ]

    arguments = {
        "--help" = {
            set_if = "$linuxfabrik_network_connections_help$"
            description = "show this help message and exit"
        }
        "--version" = {
            set_if = "$linuxfabrik_network_connections_version$"
            description = "show program's version number and exit"
        }
        "--conn-status" = {
            value = "$linuxfabrik_network_connections_conn_status$"
            description = "1,fin_wait2,last_ack,listen,none,syn_recv,syn_sent,time_wait} Filter the status of the connections (repeating). Default: None"
            repeat_key = true
        }
        "--conn-type" = {
            value = "$linuxfabrik_network_connections_conn_type$"
            description = "6,udp,udp6,unix} Filter the family/type of the connections (repeating). Default: None"
            repeat_key = true
        }
        "--critical" = {
            value = "$linuxfabrik_network_connections_critical$"
            description = "Threshold for the number of connections. Type: None or Range. Default: None"
        }
        "--warning" = {
            value = "$linuxfabrik_network_connections_warning$"
            description = "Threshold for the number of connections. Type: None or Range. Default: None"
        }
    }
}