# {{ ansible_managed }}

/*
Commands and services for 'procs' check from LinuxFabrik Monitoring Plugin:

process name, arguments and/or user name.

(Windows version)

Code at:
https://github.com/Linuxfabrik/monitoring-plugins/tree/main/check-plugins/procs
*/

object CheckCommand "_win_linuxfabrik_procs" {
    command = [ "{{ linuxfabrik_monitoring_plugins_dest_path }}/procs.exe" ]

    arguments = {
        "--help" = {
            set_if = "$linuxfabrik_procs_help$"
            description = "show this help message and exit"
        }
        "--version" = {
            set_if = "$linuxfabrik_procs_version$"
            description = "show program's version number and exit"
        }
        "--always-ok" = {
            set_if = "$linuxfabrik_procs_always_ok$"
            description = "Always returns OK."
        }
        "--argument" = {
            value = "$linuxfabrik_procs_argument$"
            description = "Filter: Search only for processes containing ARGUMENT in the command, for example `-s` (case-insensitive)."
        }
        "--command" = {
            value = "$linuxfabrik_procs_command$"
            description = "Filter: Search only for processes starting with COMMAND, for example `bash` (without path, case- insensitive)."
        }
        "--critical" = {
            value = "$linuxfabrik_procs_critical$"
            description = "Threshold for the number of processes. Type: None or Range. Default: None"
        }
        "--critical-mem" = {
            value = "$linuxfabrik_procs_critical_mem$"
            description = "Threshold for memory usage, in bytes. Type: None or Range. Default: None"
        }
        "--critical-mem-percent" = {
            value = "$linuxfabrik_procs_critical_mem_percent$"
            description = "Threshold for memory usage, in percent. Type: None or Range. Default: None"
        }
        "--critical-age" = {
            value = "$linuxfabrik_procs_critical_age$"
            description = "Threshold for age of the process, in seconds. Type: None or Range. Default: None"
        }
        "--no-kthreads" = {
            set_if = "$linuxfabrik_procs_no_kthreads$"
            description = "Filter: Only scan for non kernel threads (works on Linux only). Default: False"
        }
        "--status" = {
            value = "$linuxfabrik_procs_status$"
            description = "-sleep,idle,locked,parked,running,sleeping,stopped,suspended,tracing-stop,waiting,wake-kill,waking,zombie} Filter: Search only for processes that have a specific status. Default: None,"
        }
        "--username" = {
            value = "$linuxfabrik_procs_username$"
            description = "Filter: Search only for processes with specific user name, e.g. `apache` (case-insensitive)."
        }
        "--warning" = {
            value = "$linuxfabrik_procs_warning$"
            description = "Threshold for the number of processes. Type: None or Range. Default: None"
        }
        "--warning-mem" = {
            value = "$linuxfabrik_procs_warning_mem$"
            description = "Threshold for memory usage, in bytes. Type: None or Range. Default: None"
        }
        "--warning-mem-percent" = {
            value = "$linuxfabrik_procs_warning_mem_percent$"
            description = "Threshold for memory usage, in percent. Type: None or Range. Default: None"
        }
        "--warning-age" = {
            value = "$linuxfabrik_procs_warning_age$"
            description = "Threshold for age of the process, in seconds. Type: None or Range. Default: None"
        }
    }
}