# {{ ansible_managed }}

/*
Commands and services for 'nextcloud-security-scan' check from LinuxFabrik Monitoring Plugin:

Checks the security of your private Nextcloud server.

(Windows version)

Code at:
https://github.com/Linuxfabrik/monitoring-plugins/tree/main/check-plugins/nextcloud-security-scan
*/

object CheckCommand "_win_linuxfabrik_nextcloud_security_scan" {
    command = [ "{{ linuxfabrik_monitoring_plugins_dest_path }}/nextcloud-security-scan.exe" ]

    arguments = {
        "--help" = {
            set_if = "$linuxfabrik_nextcloud_security_scan_help$"
            description = "show this help message and exit"
        }
        "--version" = {
            set_if = "$linuxfabrik_nextcloud_security_scan_version$"
            description = "show program's version number and exit"
        }
        "--timeout" = {
            value = "$linuxfabrik_nextcloud_security_scan_timeout$"
            description = "Network timeout in seconds. Default: 7 (seconds)"
        }
        "--trigger" = {
            value = "$linuxfabrik_nextcloud_security_scan_trigger$"
            description = "Trigger re-scan of the Nextcloud server if result on scan.nextcloud.com is older than n days. Default: 14 (days)"
        }
        "--url" = {
            value = "$linuxfabrik_nextcloud_security_scan_url$"
            description = "Nextcloud API URL, for example 'cloud.linuxfabrik.io'."
        }
    }
}