# {{ ansible_managed }}

/*
Commands and services for 'dummy' check from LinuxFabrik Monitoring Plugin:

This check just returns the given message, state and perfdata.

Code at:
https://github.com/Linuxfabrik/monitoring-plugins/tree/main/check-plugins/dummy
*/

object CheckCommand "_linuxfabrik_dummy" {
    command = [ "{{ linuxfabrik_monitoring_plugins_dest_path }}/dummy" ]

    arguments = {
        "--help" = {
            set_if = "$dummy_help$"
            description = "show this help message and exit"
        }
        "--version" = {
            set_if = "$dummy_version$"
            description = "show program's version number and exit"
        }
        "--always-ok" = {
            set_if = "$dummy_always_ok$"
            description = "Always returns OK."
        }
        "--message" = {
            value = "$dummy_message$"
            description = "The message to return. Default: Everything is ok."
        }
        "--perfdata" = {
            value = "$dummy_perfdata$"
            description = "The perfdata to return, formatted according to the nagios guidelines. Default: None"
        }
        "--state" = {
            value = "$dummy_state$"
            description = "The state to return (ok, warn, crit, unk). Default: ok"
        }
    }
}