# {{ ansible_managed }}

/*
Commands and services for 'file-ownership' check from LinuxFabrik Monitoring Plugin:

files.

Code at:
https://github.com/Linuxfabrik/monitoring-plugins/tree/main/check-plugins/file-ownership
*/

object CheckCommand "_linuxfabrik_file_ownership" {
    command = [ "{{ linuxfabrik_monitoring_plugins_dest_path }}/file-ownership" ]

    arguments = {
        "--help" = {
            set_if = "$file_ownership_help$"
            description = "show this help message and exit"
        }
        "--version" = {
            set_if = "$file_ownership_version$"
            description = "show program's version number and exit"
        }
        "--filename" = {
            value = "$file_ownership_filename$"
            description = "File to be checked, in the format `owner:group,path` (repeatable)."
        }
    }
}