# {{ ansible_managed }}

/*
Commands and services for 'mysql-replica-status' check from LinuxFabrik Monitoring Plugin:

Checks the replication status of MySQL/MariaDB.

Code at:
https://github.com/Linuxfabrik/monitoring-plugins/tree/main/check-plugins/mysql-replica-status
*/

object CheckCommand "_linuxfabrik_mysql_replica_status" {
    command = [ "{{ linuxfabrik_monitoring_plugins_dest_path }}/mysql-replica-status" ]

    arguments = {
        "--help" = {
            set_if = "$mysql_replica_status_help$"
            description = "show this help message and exit"
        }
        "--version" = {
            set_if = "$mysql_replica_status_version$"
            description = "show program's version number and exit"
        }
        "--always-ok" = {
            set_if = "$mysql_replica_status_always_ok$"
            description = "Always returns OK."
        }
        "--hostname" = {
            value = "$mysql_replica_status_hostname$"
            description = "MySQL/MariaDB hostname. Default: 127.0.0.1"
        }
        "--password" = {
            value = "$mysql_replica_status_password$"
            description = "Use the indicated password to authenticate the connection. Default:"
        }
        "--port" = {
            value = "$mysql_replica_status_port$"
            description = "MySQL/MariaDB port. Default: 3306"
        }
        "--severity" = {
            value = "$mysql_replica_status_severity$"
            description = "Severity for alerts that do not depend on thresholds. One of 'warn' or 'crit'. Default: warn"
        }
        "--username" = {
            value = "$mysql_replica_status_username$"
            description = "MySQL/MariaDB username. Default: root"
        }
    }
}