# {{ ansible_managed }}

/*
Commands and services for 'qts-uptime' check from LinuxFabrik Monitoring Plugin:

Tells how long the system has been running.

Code at:
https://github.com/Linuxfabrik/monitoring-plugins/tree/main/check-plugins/qts-uptime
*/

object CheckCommand "_linuxfabrik_qts_uptime" {
    command = [ "{{ linuxfabrik_monitoring_plugins_dest_path }}/qts-uptime" ]

    arguments = {
        "--help" = {
            set_if = "$qts_uptime_help$"
            description = "show this help message and exit"
        }
        "--version" = {
            set_if = "$qts_uptime_version$"
            description = "show program's version number and exit"
        }
        "--url" = {
            value = "$qts_uptime_url$"
            description = "QTS-based Appliance URL, for example https://192.168.1.1:8080."
        }
        "--insecure" = {
            set_if = "$qts_uptime_insecure$"
            description = "This option explicitly allows to perform 'insecure' SSL connections. Default: False"
        }
        "--no-proxy" = {
            set_if = "$qts_uptime_no_proxy$"
            description = "Do not use a proxy. Default: False"
        }
        "--username" = {
            value = "$qts_uptime_username$"
            description = "QTS User. Default: admin"
        }
        "--password" = {
            value = "$qts_uptime_password$"
            description = "QTS Password."
        }
        "--timeout" = {
            value = "$qts_uptime_timeout$"
            description = "Network timeout in seconds. Default: 6 (seconds)"
        }
    }
}