# {{ ansible_managed }}

/*
Commands and services for 'restic-stats' check from LinuxFabrik Monitoring Plugin:

according to one of the counting modes as given by the --mode flag.

Code at:
https://github.com/Linuxfabrik/monitoring-plugins/tree/main/check-plugins/restic-stats
*/

object CheckCommand "_linuxfabrik_restic_stats" {
    command = [ "sudo", "{{ linuxfabrik_monitoring_plugins_dest_path }}/restic-stats" ]

    arguments = {
        "--help" = {
            set_if = "$restic_stats_help$"
            description = "show this help message and exit"
        }
        "--version" = {
            set_if = "$restic_stats_version$"
            description = "show program's version number and exit"
        }
        "--host" = {
            value = "$restic_stats_host$"
            description = "Only consider snapshots for this host (can be specified multiple times)."
        }
        "--mode" = {
            value = "$restic_stats_mode$"
            description = "-size,files-by-contents,blobs-per-file,raw-data} Counting mode. Default: restore-size"
        }
        "--password-file" = {
            value = "$restic_stats_password_file$"
            description = "File to read the repository password from"
        }
        "--path" = {
            value = "$restic_stats_path$"
            description = "Only consider snapshots for this path (can be specified multiple times)."
        }
        "--repo" = {
            value = "$restic_stats_repo$"
            description = "Repository location"
        }
        "--tag" = {
            value = "$restic_stats_tag$"
            description = "Only consider snapshots which include this taglist in the format `tag[,tag,...]` (can be specified multiple times)."
        }
        "--test" = {
            value = "$restic_stats_test$"
            description = "For unit tests. Needs 'path-to-stdout-file,path-to- stderr-file,expected-retc'."
        }
    }
}