# {{ ansible_managed }}

/*
Commands and services for 'selinux-mode' check from LinuxFabrik Monitoring Plugin:

warning on a non-match.

Code at:
https://github.com/Linuxfabrik/monitoring-plugins/tree/main/check-plugins/selinux-mode
*/

object CheckCommand "_linuxfabrik_selinux_mode" {
    command = [ "{{ linuxfabrik_monitoring_plugins_dest_path }}/selinux-mode" ]

    arguments = {
        "--help" = {
            set_if = "$selinux_mode_help$"
            description = "show this help message and exit"
        }
        "--version" = {
            set_if = "$selinux_mode_version$"
            description = "show program's version number and exit"
        }
        "--always-ok" = {
            set_if = "$selinux_mode_always_ok$"
            description = "Always returns OK."
        }
        "--mode" = {
            value = "$selinux_mode_mode$"
            description = "The expected SELinux mode, one of 'enforcing', 'permissive' or 'disabled' (case-insensitive). Default: enforcing"
        }
    }
}