# {{ ansible_managed }}

/*
Commands and services for 'starface-channel-status' check from LinuxFabrik Monitoring Plugin:

parallel do not query the data again and overload the PBX.

Code at:
https://github.com/Linuxfabrik/monitoring-plugins/tree/main/check-plugins/starface-channel-status
*/

object CheckCommand "_linuxfabrik_starface_channel_status" {
    command = [ "{{ linuxfabrik_monitoring_plugins_dest_path }}/starface-channel-status" ]

    arguments = {
        "--help" = {
            set_if = "$starface_channel_status_help$"
            description = "show this help message and exit"
        }
        "--version" = {
            set_if = "$starface_channel_status_version$"
            description = "show program's version number and exit"
        }
        "--always-ok" = {
            set_if = "$starface_channel_status_always_ok$"
            description = "Always returns OK."
        }
        "--cache-expire" = {
            value = "$starface_channel_status_cache_expire$"
            description = "The amount of time after which the cached data expires, in minutes. Default: 1"
        }
        "--critical" = {
            value = "$starface_channel_status_critical$"
            description = "Set the critical threshold (percentage). Default: 90"
        }
        "--hostname" = {
            value = "$starface_channel_status_hostname$"
            description = "Starface PBX address, can be IP address or hostname. Default: localhost"
        }
        "--port" = {
            value = "$starface_channel_status_port$"
            description = "Starface PBX monitoring port. Default: 6556"
        }
        "--test" = {
            value = "$starface_channel_status_test$"
            description = "For unit tests. Needs 'path-to-stdout-file,path-to- stderr-file,expected-retc'."
        }
        "--timeout" = {
            value = "$starface_channel_status_timeout$"
            description = "Network timeout in seconds. Default: 3 (seconds)"
        }
        "--warning" = {
            value = "$starface_channel_status_warning$"
            description = "Set the warning threshold (percentage). Default: 80"
        }
        "--6" = {
            set_if = "$starface_channel_status_6$"
            description = "Use IPv6."
        }
    }
}