# {{ ansible_managed }}

/*
Commands and services for 'systemd-unit' check from LinuxFabrik Monitoring Plugin:

--unit=sshd`. Have a look at the README for more details.

Code at:
https://github.com/Linuxfabrik/monitoring-plugins/tree/main/check-plugins/systemd-unit
*/

object CheckCommand "_linuxfabrik_systemd_unit" {
    command = [ "{{ linuxfabrik_monitoring_plugins_dest_path }}/systemd-unit" ]

    arguments = {
        "--help" = {
            set_if = "$systemd_unit_help$"
            description = "show this help message and exit"
        }
        "--version" = {
            set_if = "$systemd_unit_version$"
            description = "show program's version number and exit"
        }
        "--activestate" = {
            value = "$systemd_unit_activestate$"
            description = "Expected systemd ActiveState (repeating). This is the high-level unit activation state(s), i.e. generalization of SUB. If ommited, the unit's active state will not be checked."
            repeat_key = true
        }
        "--loadstate" = {
            value = "$systemd_unit_loadstate$"
            description = "-found,reloading} Expected systemd LoadState. Reflects whether the unit definition was properly loaded. Default: loaded"
        }
        "--severity" = {
            value = "$systemd_unit_severity$"
            description = "If something was found, the check returns WARN unless set here. One of 'warn' or 'crit'. Default: warn"
        }
        "--substate" = {
            value = "$systemd_unit_substate$"
            description = "-done,active,auto-restart,cleaning,condition,deactivating,deactivating-sigkill,deactivating-sigterm,dead,elapsed,exited,failed,final-sigkill,final-sigterm,final-watchdog,listening,mounted,mounting,mounting-done,plugged,reload,remounting,remounting-sigkill,remounting-sigterm,running,start,start-chown,start-post,start-pre,stop,stop-post,stop-pre,stop-pre-sigkill,stop-pre-sigterm,stop-sigkill,stop-sigterm,stop-watchdog,tentative,unmounting,unmounting-sigkill,unmounting-sigterm,waiting} Expected systemd SubState (repeating). This is the low-level unit activation state(s); values depend on unit type. If ommited, the unit's substate will not be checked."
            repeat_key = true
        }
        "--unit" = {
            value = "$systemd_unit_unit$"
            description = "The unit name (service, timer, mount etc.). Required. For example 'sshd', 'sshd.service', 'my-samba- mount.mount' etc."
        }
        "--unitfilestate" = {
            value = "$systemd_unit_unitfilestate$"
            description = "-runtime,generated,indirect,linked,linked-runtime,masked,masked-runtime,None,static,transient} Expected systemd UnitFileState. If ommited or set to 'None', the unit's unit-file state will not be checked. If 'empty', checks exactly for ``UnitFileState=''``."
        }
    }
}