# {{ ansible_managed }}

/*
Commands and services for 'wildfly-deployment-status' check from LinuxFabrik Monitoring Plugin:

Checks the deployment status of a Wildfly/JBossAS over HTTP.

Code at:
https://github.com/Linuxfabrik/monitoring-plugins/tree/main/check-plugins/wildfly-deployment-status
*/

object CheckCommand "_linuxfabrik_wildfly_deployment_status" {
    command = [ "{{ linuxfabrik_monitoring_plugins_dest_path }}/wildfly-deployment-status" ]

    arguments = {
        "--help" = {
            set_if = "$wildfly_deployment_status_help$"
            description = "show this help message and exit"
        }
        "--version" = {
            set_if = "$wildfly_deployment_status_version$"
            description = "show program's version number and exit"
        }
        "--always-ok" = {
            set_if = "$wildfly_deployment_status_always_ok$"
            description = "Always returns OK."
        }
        "--deployment" = {
            value = "$wildfly_deployment_status_deployment$"
            description = "The name of an application whose deployment status is to be checked (repeating). Default: None"
            repeat_key = true
        }
        "--instance" = {
            value = "$wildfly_deployment_status_instance$"
            description = "The instance (server-config) to check if running in domain mode."
        }
        "--mode" = {
            value = "$wildfly_deployment_status_mode$"
            description = "The mode the server is running."
        }
        "--node" = {
            value = "$wildfly_deployment_status_node$"
            description = "The node (host) if running in domain mode."
        }
        "--password" = {
            value = "$wildfly_deployment_status_password$"
            description = "WildFly API password."
        }
        "--timeout" = {
            value = "$wildfly_deployment_status_timeout$"
            description = "Network timeout in seconds. Default: 3 (seconds)"
        }
        "--url" = {
            value = "$wildfly_deployment_status_url$"
            description = "WildFly API URL. Default: http://localhost:9990"
        }
        "--username" = {
            value = "$wildfly_deployment_status_username$"
            description = "WildFly API username. Default: wildfly-monitoring"
        }
    }
}