# {{ ansible_managed }}

/*
Commands and services for 'wildfly-memory-pool-usage' check from LinuxFabrik Monitoring Plugin:

Checks the memory pool usage of a Wildfly/JBossAS over HTTP.

Code at:
https://github.com/Linuxfabrik/monitoring-plugins/tree/main/check-plugins/wildfly-memory-pool-usage
*/

object CheckCommand "_linuxfabrik_wildfly_memory_pool_usage" {
    command = [ "{{ linuxfabrik_monitoring_plugins_dest_path }}/wildfly-memory-pool-usage" ]

    arguments = {
        "--help" = {
            set_if = "$wildfly_memory_pool_usage_help$"
            description = "show this help message and exit"
        }
        "--version" = {
            set_if = "$wildfly_memory_pool_usage_version$"
            description = "show program's version number and exit"
        }
        "--always-ok" = {
            set_if = "$wildfly_memory_pool_usage_always_ok$"
            description = "Always returns OK."
        }
        "--instance" = {
            value = "$wildfly_memory_pool_usage_instance$"
            description = "The instance (server-config) to check if running in domain mode."
        }
        "--mode" = {
            value = "$wildfly_memory_pool_usage_mode$"
            description = "The mode the server is running."
        }
        "--node" = {
            value = "$wildfly_memory_pool_usage_node$"
            description = "The node (host) if running in domain mode."
        }
        "--password" = {
            value = "$wildfly_memory_pool_usage_password$"
            description = "WildFly API password."
        }
        "--timeout" = {
            value = "$wildfly_memory_pool_usage_timeout$"
            description = "Network timeout in seconds. Default: 3 (seconds)"
        }
        "--url" = {
            value = "$wildfly_memory_pool_usage_url$"
            description = "WildFly API URL. Default: http://localhost:9990"
        }
        "--username" = {
            value = "$wildfly_memory_pool_usage_username$"
            description = "WildFly API username. Default: wildfly-monitoring"
        }
    }
}